{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Code of conduct</h2>

    <p>
       <a href="https://www.afpy.org/docs/charte"> The code of conduct</a> set forth by 
         the Francophone Python Association (AFPy) 
         applies to the events organised by this association.
    </p>
    <p>
      The goal of AFPy is to promote the Python programming language among the
      widest possible audience. We share our knowledge and welcome external 
      contributions because diversity, mutual attention, solidarity and 
      democracy enhances the potential of AFPy and its individual members. 
      Hence, we actively encourage the involvement of all Python community members,
      or those aspiring to join, in any event we (co-)organise.
    </p>
    <p>
      Therefore, AFPy expects each member of the association to show respect and
      courtesy toward other members of the association and people during
      any event organized by the association.
    </p>
    <p>
      This text is inspired by the code of conduct established by the Ada
      Initiative and by the French anti-discrimination law.
    </p>

    <section>
      <h3>The "Short" Version</h3>
      <p>
        AFPy aims to prevent all forms of discrimination, regardless of gender, 
        sexual orientation, disability, physical appearance, origin, or religion, 
        in any manifestation, including speech, image, text, and other mediums. 
        It is important to note that this list is not exhaustive.
      </p>

      <p>
        While AFPy strives to promote Python in the French-speaking world, 
        the association is dedicated to welcoming individuals regardless of 
        their programming language or mother tongue.
      </p>

      <p>
        AFPy expects from its members a language and a style adapted to a
        diverse audience. Sexual or racist allusions are in no way tolerated,
        whatever their medium.
      </p>

      <p>
        Be polite. Don’t insult anyone. Discrimination and harassment are to be
        excluded in writing, visuals, words and actions, whatever their nature
        (sexual, racist, religious, social…).
      </p>

      <p>
        Failure to adhere to the above Code of Conduct may result in exclusion from the event,
        at the discretion of one or more organizers or the association, after deliberation of 
        the executive committee, as well as
        from any service proposed by AFPy (planet AFPy, blog, IRC channels).
      </p>
    </section>

    <section>
      <h3>The "Long" Version</h3>

      <h4>Scope</h4>
      <p>
        These good practices apply within the framework of any event
        (co-)organized by AFPy in a direct or indirect way, namely:
      </p>
      <ul>
        <li>conferences (PyConFR and other),</li>
        <li>IRC, XMPP or other instant messaging channels,</li>
        <li>planet AFPy,</li>
        <li>AFPy blogs,</li>
        <li>mailing lists,</li>
        <li>any event where you represent AFPy, including casual meetings.</li>
      </ul>

      <h4>Definition of Discrimination</h4>
      <p>
        Discrimination includes, according to French law, “the situation in
        which, on the basis of their belonging or not belonging, real or
        supposed, to an ethnic group or race, their religion, their beliefs,
        their age, their disability, their sexual orientation or gender, a
        person is treated less favourably than an other is, has been or will be
        treated in a comparable situation.” “Any sexually connoted act,
        [suffered] by a person and having the object or effect of violating
        their dignity or creating an intimidating, hostile, degrading,
        humiliating or offensive environment” or “the act of ordering anyone to
        behave this way” is therefore prohibited.
      </p>

      <h4>Behaviors to Banish</h4>
      <p>
        According to the above definition, we kindly request that you refrain from:
      </p>
      <ul>
        <li>any inappropriate expression or attitude,</li>
        <li>presenting sexual or shocking (especially violent) images,</li>
        <li>deliberate intimidation, harassment, improper and non-consensual physical contact.</li>
      </ul>

      <h4>Sensitivity</h4>
      <p>
        If you think that your communication may hurt your audience, because of
        the subject or some included images, please take the time to inform the
        people before talking, so that anyone can leave the room if they want
        to; you can anyway ask the organizers or the AFPy members to get advice.
      </p>

      <h4>Deal with Incidents</h4>
      <p>
        In case of harassment or discrimination due to a participant, the event
        organizers or the steering commitee members can take measures including
        a temporary or definitive exclusion.
      </p>
    </section>
  </article>

  <article>
    <h2>Reporting</h2>

    <p>
      If you are victim or witness of harassment or discrimination against
      other participant(s), or fear an incident may occur, contact immediately
      a member of the staff (in the case of an event) or of the AFPy executive
      committee.
    </p>
    <p>
      Contact: <a href="mailto:diversite@afpy.org">diversite@afpy.org</a>.
    </p>
    <p>
      Throughout the event, don't hesitate to reach out to the designated
      individuals chosen by the association to assist you with any issues 
      you may have encountered.
    </p>
  </article>
{% endblock content %}
