{% extends '_layout.jinja2' %}

{% block content %}
  <article class="coverboard">
    <img src="/2024/static/images/pyconfr.svg" />

    <section class="pycon-presentation">
      <h1>Presenting PyConFR 2024!</h1>

      <aside>
        15<sup>e</sup> edition
      </aside>

      <p class="pycon-date">October 31<sup>th</sup> – November 3<sup>rd</sup> 2024 at Strasbourg</p>

      <p>
        Organized by <strong>AFPy</strong>, this four days conference is free,
        entirely coordinated by volunteers and dedicated to bringing
        together people interested by the <strong>Python</strong> programming language.
      </p>

      <ul>
        <li>
          <a class="button" href="{{ url_for('page', name='schedule', lang=lang, _anchor='register') }}">Register</a>
        </li>
        <li>
          <a class="button" href="{{ url_for('page', name='schedule', lang=lang) }}">Schedule</a>
        </li>
      </ul>
    </section>
  </article>

  <article>
    <h2>Schedule</h2>
    <a href="{{ url_for('page', name='schedule', lang=lang) }}">More details</a>!
    <section>
      <h3>Participative Coding: sprints!</h3>
      <aside>Days 1&2</aside>
      <p>
        Developers of various open source projects gather in little groups to
        code together. Everyone is welcome to contribute, and we seek to guide
        beginners.
      </p>
      <p>
        Take part to the development of your favorite project!
      </p>
      <p>
        We provide the space and environment (tables, chairs,
        internet connection… and coffee!).
      </p>
    </section>

    <section>
      <h3>Conferences and Workshops</h3>
      <aside>Days 3&4</aside>
      <p>
        During these two days, you will have the opportunity to attend
        to presentations on various subjects, about the Python programming
        language:
      </p>
      <ul>
        <li>use cases</li>
        <li>good practices</li>
        <li>feedbacks</li>
        <li>shared ideas</li>
      </ul>
    </section>
  </article>

  <article id="place">
    <h2>Venue</h2>
    <section>
      <img src="{{ url_for('static', filename='images/partners/UFR.png') }}"/>
      <address>
        UFR Mathématique et Informatique
        7 rue René Descartes
        67000 Strasbourg
      </address>
      <a class="button" href="{{ url_for('page', name='venue', lang=lang) }}">
        More Details
      </a>
    </section>

    {{ map() }}
  </article>

  <article>
    <h2>AFPy, Association Francophone Python</h2>

    <a href="https://www.afpy.org">Our website</a>
    <section>
      <p>
        AFPy promotes the Python language, both to the informed public and to beginners.
      </p>
      <p>
        We promote the Python programming language among the widest possible
        audience.
      </p>
      <p>
        We diffuse our knowledge and are open to external contributions.
      </p>
      <p>
        Solidarity and democracy increase the potential of each one of us.
      </p>
    </section>
  </article>

  <article>
    <h2>Our Sponsors</h2>
    <aside>Support us!</aside>

    <p>
      <a href="{{ url_for('page', name='sponsors', lang='lang') }}">Become</a> a
      sponsor and give your company greater visibility at this event.
    </p>
    <section>
      {{ sponsors(lang, only_logo=True) }}
    </section>
    <p>
      The team is available to answer your questions about the event
      at <a href="mailto:contact@pycon.fr">contact@pycon.fr</a>
    </p>
  </article>
{% endblock content %}
