{% extends '_layout.jinja2' %}

{% block content %}
  <img class="logo" src="/2024/static/images/pyconfr.svg" />

  <article class="coverboard">
    <section class="pycon-presentation">
      <h1>Presenting PyConFR 2024!</h1>

      <aside>
        <span>15</span><sup>th</sup> edition
      </aside>

      <p class="pycon-date">October 31<sup>th</sup> – November 3<sup>rd</sup> 2024 at Strasbourg</p>

      <p>
        Organized by <a href="https://www.afpy.org">AFPy</a>, this four days conference is free,
        entirely coordinated by volunteers and dedicated to bringing
        together people interested by the <a href="https://www.python.org/">Python</a> programming language.
      </p>

      <!--
      <ul>
        <li>
          <a class="button register" href="{{ url_for('page', name='schedule', lang=lang, _anchor='register') }}">Register</a>
        </li>
        <li>
          <a class="button schedule" href="{{ url_for('page', name='schedule', lang=lang) }}">Schedule</a>
        </li>
      </ul>
      -->
    </section>
  </article>

  <article>
    <h2>Schedule</h2>
    <!--
    <a class="button details" href="{{ url_for('page', name='schedule', lang=lang) }}">More details</a>!
    -->

    <section class="event-description">
      <section>
        <aside>October 31<sup>th</sup> & November 1<sup>st</sup></aside>
        <h3>Participative Coding: sprints!</h3>
        <p>
          Developers of various open source projects gather in little groups to
          code together. Everyone is welcome to contribute, and we seek to guide
          beginners.
        </p>
        <p class="important">
          Take part to the development of your favorite project!
        </p>
        <p>
          We provide the space and environment (tables, chairs,
          internet connection… and coffee!).
        </p>
      </section>

      <section>
        <aside>November 2<sup>nd</sup>&3<sup>rd</sup></aside>
        <h3>Conferences and Workshops</h3>
        <p>
          During these two days, you will have the opportunity to attend
          to presentations on various subjects, about the Python programming
          language:
        </p>
        <ul>
          <li>use cases</li>
          <li>good practices</li>
          <li>feedbacks</li>
          <li>shared ideas</li>
        </ul>
      </section>
    </section>
  </article>

  <article class="place">
    <h2>Venue</h2>
    <section>
      <section>
        <img src="{{ url_for('static', filename='images/partners/Université de Strasbourg.png') }}"/>
        <address>
          <strong>UFR Mathématique et Informatique</strong>
          7 rue René Descartes
          67000 Strasbourg
        </address>
        <a class="button" href="{{ url_for('page', name='venue', lang=lang) }}">
          More Details
        </a>
      </section>

      {{ map() }}
    </section>
  </article>

  <article class="afpy">
    <section>
      <h2>AFPy, Association Francophone Python</h2>
      <a class="button" href="https://www.afpy.org">Our website</a>
    </section>
    <section>
      <h3>
        AFPy promotes the Python language, both to the informed public and to beginners.
      </h3>
      <p>
        We promote the Python programming language among the widest possible
        audience.
      </p>
      <p>
        We diffuse our knowledge and are open to external contributions.
      </p>
      <p>
        Solidarity and democracy increase the potential of each one of us.
      </p>
    </section>
  </article>

  <article class="become-sponsor">
    <aside>Support us!</aside>
    <h2>Our Sponsors</h2>

    {{ sponsors(lang, only_logo=True) }}

    <section class="contact-sponsor">
      <p>
        The team is available to answer your questions about the event
        at <a href="mailto:contact@pycon.fr">contact@pycon.fr</a>
      </p>
    </section>
  </article>
{% endblock content %}
