{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Schedule</h2>

    <section class="event-description">
      <section>
        <aside>October 31<sup>th</sup> &amp; November 1<sup>st</sup></aside>
        <h3>Participative Coding: sprints!</h3>
        <p>
          Developers of various open source projects gather in little groups to
          code together. Everyone is welcome to contribute, and we seek to guide
          beginners.
        </p>
        <p class="important">
          Take part to the development of your favorite project!
        </p>
        <p>
          We provide the space and environment (tables, chairs,
          internet connection… and coffee!).
        </p>
        <a class="button" href="{{ url_for('talks', lang=lang, category='sprint') }}">See Sprints List</a>
      </section>

      <section>
        <aside>November 2<sup>nd</sup> &amp; 3<sup>rd</sup></aside>
        <h3>Conferences and Workshops</h3>
        <p>
          During these two days, you will have the opportunity to attend
          to presentations on various subjects, about the Python programming
          language:
        </p>
        <ul>
          <li>use cases</li>
          <li>good practices</li>
          <li>feedbacks</li>
          <li>shared ideas</li>
        </ul>
        <a class="button" href="#calendar">See Schedule</a>
      </section>
    </section>

    <section class="keynotes">
      <h3>Keynotes</h3>
      <section class="speakers">
        <dl>
          <dt><img src="{{ url_for('static', filename='images/keynotes/houleymatou_baldé.png') }}" alt="Photo of Houleymatou Baldé" loading="lazy"></dt>
          <dd class="speaker"><a href="{{ url_for('page', name='speakers', lang=lang, _anchor='speaker-9HXPDQ') }}">Houleymatou Baldé</a></dd>
          <dd class="title">Fondatrice IT Woman by YEESO</dd>
          <dd class="talk"><a href="{{ url_for('talks', lang=lang, category='plenary', _anchor='talk-LAXRUP') }}">De villageoise à l’itWoman… Quelles actions pour faire de mon rêve TECH une réalité ?</a></dd>
        </dl>

        <dl>
          <dt><img src="{{ url_for('static', filename='images/keynotes/françoise_conil.jpg') }}" alt="Photo of Françoise Conil" loading="lazy"></dt>
          <dd class="speaker"><a href="{{ url_for('page', name='speakers', lang=lang, _anchor='speaker-WLFZBG') }}">Françoise Conil</a></dd>
          <dd class="title">Développeuse d'applications au CNRS</dd>
          <dd class="talk"><a href="{{ url_for('talks', lang=lang, category='plenary', _anchor='talk-88RCKR') }}">Recherche des bonnes pratiques de packaging</a></dd>
        </dl>

        <dl>
          <dt><img src="{{ url_for('static', filename='images/keynotes/ines_montani.jpg') }}" alt="Photo of Ines Montani" loading="lazy"></dt>
          <dd class="speaker"><a href="{{ url_for('page', name='speakers', lang=lang, _anchor='speaker-98TUDC') }}">Ines Montani</a></dd>
          <dd class="title">Fondatrice d'Explosion</dd>
          <dd class="talk"><a href="{{ url_for('talks', lang=lang, category='plenary', _anchor='talk-SVUGC3') }}">Reality is not an end-to-end prediction problem: Applied NLP in the age of Generative AI</a></dd>
        </dl>
      </section>
    </section>

    <section id="calendar">
      <h3>Calendar</h3>
      <p>
        The calendar is available below, in a
        <a href="{{ url_for('schedule', lang=lang) }}">fullscreen page</a>, or
        <a href="{{ url_for('calendar', lang=lang) }}">in your favourite calendar application</a>.
      </p>
      <p>
        You can read the description of
        <a href="{{ url_for('talks', lang=lang, category='plenary') }}">plenary sessions</a>,
        <a href="{{ url_for('talks', lang=lang, category='long-talk') }}">long talks</a>,
        <a href="{{ url_for('talks', lang=lang, category='short-talk') }}">short talks</a>,
        <a href="{{ url_for('talks', lang=lang, category='workshop')}}">workshops</a> and
        <a href="{{ url_for('talks', lang=lang, category='sprint') }}">sprints</a>.
      </p>
      <p>
        You can also read the biography of
        <a href="{{ url_for('page', name='speakers', lang=lang) }}">speakers</a>.
      </p>

      <iframe src="{{ url_for('schedule', lang=lang) }}" loading="lazy"></iframe>
    </section>

    <section id="register">
      <h3>Registration</h3>
      <p>
        PyConFR's sprints, talks and workshops are free.
      </p>
      <p>
        However, <strong>registration is mandatory for everyone</strong>,
        including organization staff, volunteers, speakers and sponsors.
      </p>
      <p>
        Registration is open until the end of the event, limited to:
      </p>
      <ul>
        <li>200 places for sprints,</li>
        <li>1 000 places for talks and workshops,</li>
        <li>150 places for <a href="#dinner">the Saturday night dinner</a>.</li>
      </ul>
      <a class="button" href="https://www.helloasso.com/associations/afpy/evenements/pyconfr-2024">PyConFR Registration</a>
      <p>
        With this registration, it is possible to:
      </p>
      <ul>
        <li>reserve t-shirts (€15), also sold during the event with limited stocks,</li>
        <li>reserve a place for the Saturday night dinner (€30).</li>
      </ul>
      <p>
        ⚠️ Ordering t-shirts and booking the Saturday evening party
        will incur a fee for AFPy. <strong>No refunds will be possible after
        the event.</strong>
      </p>
      <p>
        Registration for <a href="#children-area">the children's area</a> is opened until 15 days
        before the start of the event, i.e. <strong>October 15</strong>.
      </p>
      <a class="button" href="https://www.helloasso.com/associations/afpy/evenements/espace-enfants-a-la-pyconfr-2024">Children Area Registration</a>

      <p>
        Registration for the <a href="{{ url_for('talks', lang=lang, category='lunch', _anchor='talk-MRHUVD') }}">PyLadies Lunch</a> is opened until <strong>October 27th</strong>.
      </p>
      <a class="button" href="https://www.helloasso.com/associations/afpy/evenements/dejeuner-pyladies-a-la-pyconfr-2024">PyLadies Lunch Registration</a>

      <p>
        You can also support <a href="https://afpy.org/">AFPy</a>, the
        association organizing PyConFR, with
        a <a href="https://www.helloasso.com/associations/afpy/formulaires/1/en">donation</a>.
        If you want to vote during its general assembly on Sunday morning, you
        must <a href="https://www.afpy.org/adherer">become a member</a>.
      </p>
    </section>

    <section id="children-area">
      <h3>Children's Area</h3>

      <p>
        A children's area is set up <strong>during the four days</strong> of
        the PyConFR and is hosted by <a href="https://www.babychou.com/">Babychou Services</a>.
      </p>
      <p>
        The children's area accommodates <strong>a maximum of 18 children, aged 3 to 12 years</strong>.
      </p>
      <p>
        Registration will be open at the same time as event
        registration and will remain open until 15 days before the
        start of PyConFR. Priority is given to people running sprints,
        conferences and workshops.
      </p>
    </section>

    <section id="dinner">
      <h3>Saturday night dinner</h3>
      <p>
        A dinner is organized on Saturday night, from 7:30 PM to 11:00 PM,
        at <a href="https://www.letigre.eu/le-petit-tigre/presentation">Petit Tigre</a> (5 Rue du Faubourg-National, Strasbourg),
        only for the ones who chose the option during their registration.
      </p>
      <p>
        This dinner includes a cocktail buffet with:
      </p>
      <ul>
        <li>Mixed charcuterie/cheese boards,</li>
        <li>Crudités,</li>
        <li>Quinoa salad,</li>
        <li>Vegetable wok and soy steaks,</li>
        <li>Savory and sweet flambé tarts,</li>
        <li>Two drinks (beer, wine, non-alcoholic drink, coffee, herbal tea).</li>
      </ul>
      <p>
        Other alcoholic drinks can be bought (not included in the price) during the
        dinner.
      </p>
    </section>
  </article>
{% endblock content %}
