{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Schedule</h2>

    <section class="event-description">
      <section>
        <aside>October 31<sup>th</sup> & November 1<sup>st</sup></aside>
        <h3>Participative Coding: sprints!</h3>
        <p>
          Developers of various open source projects gather in little groups to
          code together. Everyone is welcome to contribute, and we seek to guide
          beginners.
        </p>
        <p class="important">
          Take part to the development of your favorite project!
        </p>
        <p>
          We provide the space and environment (tables, chairs,
          internet connection… and coffee!).
        </p>
        <p>
          Schedule will be available in September.
        </p>
        <a class="button" href="https://cfp.pycon.fr/pyconfr-2024/">propose your subject</a>
      </section>

      <section>
        <aside>November 2<sup>nd</sup>&3<sup>rd</sup></aside>
        <h3>Conferences and Workshops</h3>
        <p>
          During these two days, you will have the opportunity to attend
          to presentations on various subjects, about the Python programming
          language:
        </p>
        <ul>
          <li>use cases</li>
          <li>good practices</li>
          <li>feedbacks</li>
          <li>shared ideas</li>
        </ul>
        <p>
          Schedule will be available in September.
        </p>
        <a class="button" href="https://cfp.pycon.fr/pyconfr-2024/">propose your subject</a>
      </section>
    </section>

    <!--
    <section>
      <h3>Calendar</h3>
      <p>
        The calendar is available below, in a
        <a href="{{ url_for('schedule', lang=lang) }}">fullscreen page</a>, or
        <a href="{{ url_for('calendar') }}">in your favourite calendar application</a>.
      </p>
      <p>
        You can read the description of
        <a href="{{ url_for('talks', lang=lang, category='plenary') }}">plenary sessions</a>,
        <a href="{{ url_for('talks', lang=lang, category='1h') }}">1-hour talks</a>,
        <a href="{{ url_for('talks', lang=lang, category='30m') }}">30-minute talks</a>,
        <a href="{{ url_for('talks', lang=lang, category='workshop')}}">workshops</a> and
        <a href="{{ url_for('talks', lang=lang, category='sprint') }}">sprints</a>.
      </p>
      <iframe src="{{ url_for('schedule', lang=lang) }}"></iframe>
    </section>
    -->

    <section id="register">
      <h3>Registration</h3>
      <p>
        PyConFR's sprints, talks and workshops are free.
      </p>
      <p>
        However, <strong>registration is mandatory for everyone</strong>,
        including organization staff, volunteers, speakers and sponsors.
      </p>
      <!--
      <p>
        Registration is open until the end of the event, limited to:
      </p>
      <ul>
        <li>200 places for sprints,</li>
        <li>1,000 places for talks and workshops,</li>
        <li>150 places for <a href="#dinner">the Saturday night dinner</a>.</li>
      </ul>
      <p>
        With this registration, it is possible to:
      </p>
      <ul>
        <li>
          reserve t-shirts (€10), also sold during the event with limited stocks,
        </li>
        <li>
          reserve a place for the Saturday night dinner (€35).
        </li>
      </ul>
      -->
      <p>
        You can also support <a href="https://afpy.org/">AFPy</a>, the
        association organizing PyConFR, with
        a <a href="https://www.helloasso.com/associations/afpy/formulaires/1/en">donation</a>.
        If you want to vote during its general assembly on Sunday morning, you
        must <a href="https://www.afpy.org/adherer">become a member</a>.
      </p>
      <!--
      <div class="column center">
        <a class="button" href="https://www.helloasso.com/associations/afpy/evenements/pyconfr-2024">Register</a>
      </div>
      -->
    </section>

    <section id="dinner">
      <h3>Saturday night dinner</h3>
      <p>
        A dinner is organized on Saturday night, from 7:30 PM to 11:00 PM,
        only for the ones who chose the option during their registration.
      </p>
      <p>
        This dinner includes a cocktail buffet with petit fours and soft and
        alcoholic drinks.
      </p>
      <p>
        Other alcoholic drinks can be bought (not included in the price) during the
        dinner.
      </p>
    </section>
  </article>
{% endblock content %}
