{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Sponsors</h2>
    {{ sponsors(lang) }}
  </article>

  <article>
    <h2>Support us</h2>

    <section>
      <h3>Help Us Before and During the Event</h3>

      <p>
        If you wish to help us with the preparation and/or during the event, do
        not hesitate to contact us
        at <a href="mailto:contact@afpy.org">contact@afpy.org</a>.
      </p>

      <p>
        Any volunteer help during the event is welcome!
      </p>
    </section>

    <section>
      <h3>Sponsor PyConFR</h3>

      <p>
        Patronage allows us each year to cover costs such as safety, hot and cold
        drinks, cleaning, video coverage, financial assistance…
      </p>

      <p>
        PyConFR is organized by volunteers from the francophone Python community
        and allows this community to meet, exchange and grow each year.
      </p>

      <p>
        If you wish to support us financially, you can contact the treasurer of
        AFPy (<a href="mailto:tresorier@afpy.org">tresorier@afpy.org</a>) in
        order to discuss the details.
      </p>

      <p>
        This year, we propose the following amounts and counterparts:
      </p>

      <table>
        <thead>
          <tr>
            <th>Benefit</th>
            <th>Heart (free amount)</th>
            <th>Bronze (€500)</th>
            <th>Silver (€1,000)</th>
            <th>Gold (€2,000)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Name and logo on the <a href="{{ url_for('page', name='sponsors', lang=lang) }}">"Sponsors" page</a></td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>1000-character presntation on the <a href="{{ url_for('page', name='sponsors', lang=lang) }}">"Sponsors" page</a></td>
            <td>-</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Logo on the <a href="{{ url_for('page', name='index', lang=lang) }}">index page</a></td>
            <td>-</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Logo on posters</td>
            <td>-</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Kakemono in conference rooms</td>
            <td> -</td>
            <td> -</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Presentation of the enterprise (2 min) at the conferences kick-off (Saturday)</td>
            <td>-</td>
            <td>-</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Stand in the hall</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>✔</td>
          </tr>
        </tbody>
      </table>

      <section>
        <p>
          A "Platinium" level is also available. This special level includes the benefits of the "Gold"
          level, plus the display of your logo on printed documents and at the conference rooms entrance.
        </p>

        <h4>LSF (French Sign Language) interpretation − 5 670 €</h4>

        <p>
          This "Platinium" level is limited to 8 sponsors.
        </p>
        <p>
          Each "Platinium" sponsor allows us to have a LSF interpretor in one conference room for a day.
        </p>
        <p>
          LSF interpretation enables deaf and hard-of-hearing listeners to follow conferences in the best
          possible conditions.
        </p>

        <p><strong>Benefits are available as soon as the invoice is paid.</strong></p>

    </section>
  </article>

{% endblock content %}
