{% extends '_layout.jinja2' %}

{% block header %}
  {{ super() }}
  <nav>
    <ul id="categories">
      {% for slug, title in categories.items() %}
        <li class="{{ 'active' if category == slug }}">
          <a href="{{ url_for('talks', lang=lang, category=slug) }}">{{ title[lang] }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endblock header %}

{% block content %}
  <article>
    <h2>{{ categories[category][lang] }}</h2>
    {% if category == 'sprint' %}
      <p>
        The list and schedules of the sprints are defined. For the latest organizational details, consult the people at the front desk or the nearby signage.
      </p>
    {% endif %}

    {% if category == 'sprint' %}
      {% set talks = schedule.sprints %}
    {% else %}
      {% set talks = schedule.schedule %}
    {% endif %}
    {% for day, hours in talks.items() %}
      {% for minutes, slots in hours.items() %}
        {% for talk in slots.values() %}
          {% if talk.submission_type.en | slug == category %}
            <section>
              <h3 id="talk-{{ talk.code }}">
                <a href="#talk-{{ talk.code }}">{{ talk.title }}</a>
              </h3>
              <p>
                {% for speaker in talk.speakers %}
                  {% if speaker.avatar %}
                    <img class="avatar" src="{{ speaker.avatar }}" loading="lazy">
                  {% endif %}
                  {{ speaker.name }}{{ "," if not loop.last }}
                {% endfor %}
              </p>
              <p>
                <em>
                  {% if category == 'sprint' %}
                    Thursday and Friday fro 10:00 AM to 5:00 PM
                  {% else %}
                    Room {{ talk.slot.room[lang] }}
                    − {{ day | format_day(lang) }} at {{ minutes | format_minutes(lang) }}
                    − {{ talk.duration | format_duration }}
                  {% endif %}
                </em>
              </p>
              {{ talk.description | markdown | safe }}
            </section>
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
  </article>
{% endblock content %}
