{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>The venue</h2>
    <section>
      <h3>Address</h3>
      <p>
        PyConFR 2024 is held at the <a href="https://mathinfo.unistra.fr/">UFR Mathématique et Informatique</a> in Strasbourg.
      </p>
      <address>
        UFR Mathématique et Informatique
        7 rue René Descartes
        Strasbourg
      </address>
      <p>
        GPS coordinates: <a href="https://framacarte.org/fr/map/pyconfr-2024_182286">48.579848 7.7609694</a>
      </p>
      {{ map('Fullscreen') }}
    </section>

    <section>
      <h3>Reach the Campus</h3>

      <section>
        <h4>By car</h4>
        <p>
          When approaching Strasbourg take the direction of <em>Kehl</em>
          bypassing the city center by the south (quartier Neudorf) then follow
          <em>porte des Schirmeck</em> (Exit 4 of A35).
        </p>
        <p>
          You come by car and you have room? Consider carsharing :).
        </p>
      </section>

      <section>
        <h4>Public transport</h4>
        <p>
          The University is reachable by public transport:
        </p>
        <ul>
          <li>
            By tram: stop Université on lines C, E and F,
          </li>
          <li>
            By tram: stop Esplanade on lines C and F,
          </li>
          <li>
            By bus: stop Cité Administrative on lines 30 and C1.
          </li>
        </ul>
      </section>

      <section>
        <h4>From the train-station (approx. 12 minutes)</h4>
        <p>
          From the Central Train-station of Strasbourg, you can take the C tram
          to Université stop.
        </p>
      </section>

      <section>
        <h4>From the aeroport (approx. 8 minutes)</h4>
        <p>
          Strasbourg airport is located at Entzheim. A train (TER)
          allow you to read the central railway station in 8 minutes 5 times
          per hour.
        </p>
      </section>

      <section>
        <h4>Self-Service Bikes</h4>
        <p>
          You can also reach the campus
          using <a href="https://velhop.strasbourg.eu/">self-service bikes
          (called "vélhop")</a>.
          The closest station is Université.
        </p>
      </section>
    </section>

    <section>
      <h3>Housing Advice</h3>
      <p>
	Try to find an accomodation close to
	<a href="https://www.cts-strasbourg.eu/export/sites/default/pdf/04SeDeplacer/03PlansReseau/CTS_Armature_cartonnette_2023_V03_LIGHT.pdf">the C, E or F lines of Strasbourg's tramway</a>,
	the fastest way to reach the university.
      </p>
      <ul>
	<li><a href="https://www.hotel-esplanade.fr/">Esplanade Hotel (~70€ per night)</a> — 5 minutes walk</li>
	<li><a href="https://www.hotelpatricia.fr/">Patricia Hotel(~60€ per night)</a> — 20 minutes walk</li>
	<li><a href="https://all.accor.com/hotel/3183/index.fr.shtml">Ibis Budget centre gare (~90-100€ per night)</a> — 15 minutes by tram or 30 minutes walk</li>
	<li><a href="https://www.cityresidence.fr/fr/residence/strasbourg-access">City Residence Access (~50€ per night)</a> — 20 minutes by public transports or 30 minutes walk</li>
	<li><a href="https://all.accor.com/hotel/2248/index.fr.shtml">F1 Pont de l'Europe (~40€ per night)</a> — 20 minutes by public transports</li>
      </ul>
      <p>Note that you will also find hotel areas outside the city (Illkirch, Schiltigheim, Kehl).</p>
    </section>
  </article>
{% endblock content %}
