{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>The venue</h2>
    <section>
      <h3>Address</h3>
      <p>
        PyConFr 2024 is held at the <a href="https://mathinfo.unistra.fr/">UFR Mathématique et Informatique</a> in Strasbourg.
      </p>
      <address>
        UFR Mathématique et Informatique
        7 rue René Descartes
        Strasbourg
      </address>
      <p>
        GPS coordinates: <a href="https://www.openstreetmap.org/#map=18/48.57981/7.76302">48.5798 7.7630</a>
      </p>
      {{ map('Fullscreen') }}
    </section>

    <section>
      <h3>Reach the Campus</h3>

      <section>
        <h4>From the center (~30 minutes)</h4>
        <p>
          Vestibulum convallis, lorem a tempus semper, dui dui euismod
          elit, vitae placerat urna tortor vitae lacus.

          Sed diam.  Curabitur vulputate vestibulum lorem.  Aliquam
          erat volutpat.  Nunc eleifend leo vitae magna.  In id erat
          non orci commodo lobortis.  Proin neque massa, cursus ut,
          gravida ut, lobortis eget, lacus.  Sed diam.  Praesent
          fermentum tempor tellus.  Nullam tempus.
        </p>
      </section>

      <section>
        <h4>From the train station (~25 minutes)</h4>
        <p>
          Aliquam erat volutpat.  Nunc eleifend leo vitae magna.  In
          id erat non orci commodo lobortis.  Proin neque massa,
          cursus ut, gravida ut, lobortis eget, lacus.  Sed diam.
          Praesent fermentum tempor tellus.
        </p>
      </section>

      <section>
        <h4>From Strasbourg Airport (~1 heure ± 15 minutes)</h4>
        <p>
          Sed bibendum.  Nunc eleifend leo vitae magna.
          <ul>
            <li>Proin quam nisl, tincidunt et, mattis eget, convallis nec, purus.</li>
            <li>Cum sociis natoque penatibus et magnis dis <em>parturient</em> montes, nascetur ridiculus mus.</li>
            <li>Etiam vel neque nec dui <em>dignissim</em> bibendum.</li>
            <li>Proin neque massa, cursus ut, gravida ut, lobortis eget, lacus.</li>
          </ul>
        </p>
      </section>

      <section>
        <h4>Self-Service Bikes (~45 minutes)</h4>
        <p>
          Proin neque massa, cursus ut, gravida ut, lobortis eget,
          lacus.  Praesent augue.
        </p>
      </section>
    </section>

    <section>
      <h3>Travelling to Strasbourg</h3>

      <section>
        <h4>Car</h4>
        <p>Praesent fermentum tempor tellus.</p>
      </section>

      <section>
        <h4>Train</h4>
        <p>Mauris mollis tincidunt felis.  Sed id ligula quis est
        convallis tempor.</p>
      </section>

      <section>
        <h4>With the tram</h4>
        <p>
          Aliquam erat volutpat.  Nunc eleifend leo vitae magna.  In
          id erat non orci commodo lobortis.  Proin neque massa,
          cursus ut, gravida ut, lobortis eget, lacus.  Sed diam.

          Praesent fermentum tempor tellus.  Nullam tempus.  Mauris ac
          felis vel velit tristique imperdiet.  Donec at pede.  Etiam
          vel neque nec dui dignissim bibendum.  Vivamus id enim.
          Phasellus neque orci, porta a, aliquet quis, semper a,
          massa.  Phasellus purus.  Pellentesque tristique imperdiet
          tortor.  Nam euismod tellus id erat.
        </p>
      </section>

      <section>
        <h4>With the Bus</h4>
        <p>
          Curabitur vulputate vestibulum lorem.
        </p>
      </section>

      <section>
        <h4>Plane</h4>
        <p>Nunc porta vulputate tellus.</p>
      </section>
    </section>

    <section>
      <h3>Housing Advice</h3>
      <section>
        <h4>In Strasbourg</h4>
        <p>
	       Mauris mollis tincidunt felis.
        </p>
      </section>
      <section>
        <h4>On the campus</h4>
        <p>
          Nullam tristique diam non turpis.
          <ul>
            <li>Nam vestibulum accumsan nisl.</li>
            <li>Mauris mollis tincidunt felis.</li>
            <li>In id erat non orci commodo lobortis.</li>
          </ul>
        </p>
      </section>
    </section>
  </article>
{% endblock content %}
