// Colors
$grey: #eff1f3
$purple: #1b0e29
$red: #ff213b
$red-dark: #cc0018

// TODO: remove these variables when the whole website has the new style
$background: #eff1f3
$text: #1b0e29
$primary: #ff213b
$secondary: $text
$third: $primary

// Fonts
@font-face
  font-family: MonaSans
  font-style: normal
  font-weight: 400
  src: url(/2024/static/fonts/MonaSans-Regular.ttf)

@font-face
  font-family: MonaSans
  font-style: normal
  font-weight: 700
  src: url(/2024/static/fonts/MonaSans-Bold.ttf)

@font-face
  font-family: MonaSans
  font-style: normal
  font-weight: 800
  src: url(/2024/static/fonts/MonaSansCondensed-ExtraBold.ttf)


// Common
*
  line-height: 1.5

html
  color: $text
  font-family: MonaSans
  font-size: 1.1em
  letter-spacing: .03em

body
  display: flex
  flex-direction: column
  margin: 0
  min-height: 100svh

h1
  color: $purple
  font-size: 3em
  font-weight: 800
  line-height: 1
  margin: 0
  text-transform: uppercase

h2
  color: $purple
  font-size: 3em
  font-weight: 800
  margin: 1em auto 0 auto
  text-align: center
  text-transform: uppercase

h3
  font-size: 2em
  font-weight: 700
  line-height: 1
  margin: 1em auto

h4
  color: $purple

a
  color: $purple
  font-weight: 700
  text-decoration: none

  &:hover, &:focus
    text-decoration: underline $red-dark

address
  font-style: normal
  white-space: pre-line

ul
  padding: 0

ul li::marker
  color: $red

embed
  display: block
  float: left
  margin: 0 1em 2em 0
  width: 50%

embed + p
  margin-top: 2em

img
  max-width: 100%

sup
  text-transform: initial

.button
  background-color: $red
  border: 2px solid $red
  border-radius: 6px
  color: white
  display: inline-block
  font-weight: 700
  letter-spacing: 0.01em
  margin: 1rem 0
  max-width: max-content
  padding: 1rem
  text-transform: uppercase
  transition: background-color 0.5s, border-color 0.5s

  &:hover, &:focus
    background-color: $red-dark
    border-color: $red-dark
    text-decoration: inherit

.important
  color: $red
  font-weight: 700


// Nav
nav
  background: url(/2024/static/images/logo-simple-semi-couleurs.svg) 2rem center no-repeat
  background-color: $purple
  color: white
  display: flex
  font-size: 0.9rem
  padding: 0 2rem 0 20rem
  position: sticky
  top: 0
  z-index: 2

  ul
    align-items: center
    display: flex
    list-style: none

  li
    padding-bottom: 0.3em

  li:has(a:hover)
    border-bottom: 1px solid $red-dark

  li.active
    border-bottom: 1px solid $red
    font-weight: 700

    a:hover
      text-decoration: none

  a
    color: inherit
    font-weight: inherit

    &:hover
      text-decoration: none

  ul#pages
    flex-wrap: wrap
    gap: 0 1em
    justify-content: center
    margin: auto

    li:first-child a:before
      content: ""
      height: 100%
      left: 0
      position: absolute
      top: 0
      width: 16rem

  ul#languages
    justify-content: space-evenly
    width: 10rem

    li
      opacity: 0.5

    li.active
      border: none
      opacity: 1

    li a::before
      background: 10% center / 1em no-repeat
      content: ''
      display: inline-block
      height: 0.75em
      width: 1em

    li#french a::before
      background-image: url(/2024/static/images/france.svg)

    li#english a::before
      background-image: url(/2024/static/images/united-kingdom.svg)

  > a
    box-sizing: border-box
    max-width: none !important
    text-align: center
    width: 8rem


// Footer
footer
  background: url(/2024/static/images/logo-simple-couleurs.svg) 10% center / 10rem no-repeat
  border-top: 1px solid $grey
  font-size: 0.9rem
  margin-top: 2em
  width: 100vw

  ul
    align-items: center
    display: flex
    justify-content: space-between
    list-style: none
    margin: 2em auto
    width: 40%

    a
      font-weight: inherit


// Main page
#index
  .pycon-logo
    display: block
    margin: 1em auto
    width: 20%

  .coverboard
    // Photo by https://unsplash.com/fr/@chan_lee94
    background: url(/2024/static/images/strasbourg-small.jpg) center/ cover no-repeat
    align-items: center
    display: flex
    flex-direction: column
    height: 40em
    overflow: hidden

  .pycon-presentation
    background: white
    border-radius: 1em
    margin: auto auto auto 10%
    padding: 2em
    position: relative
    width: 26%

    aside
      background: $red
      border-radius: 50%
      color: white
      font-size: 0.8em
      font-weight: 800
      height: 6em
      line-height: 0
      padding: 0.2em 0 0.2em 0.2em
      position: absolute
      right: -2rem
      top: -2rem
      text-align: center
      text-transform: uppercase
      width: 6em

      sup
        font-size: 1.1em
        text-transform: initial
        vertical-align: 95%

      span
        font-size: 3em

    ul
      display: flex
      list-style: none
      margin: 0

      .register
        margin-right: 1em

      .schedule
        background: white
        color: $red
        transition: background-color 0.5s

        &:hover, &:focus
          background-color: lighten($red, 40%)

  .pycon-date
    color: $red
    font-size: 1.2em
    font-weight: 700

  .details
    display: block
    margin: auto

  .event-description
    display: flex
    justify-content: center
    margin: 4em auto
    gap: 2em

    section
      background: $grey
      border-radius: 10px
      flex: 1
      padding: 2em

      h3
        margin: 0 auto 1em auto

      aside
        color: $red
        font-weight: 700
        margin-bottom: 1em
        text-transform: uppercase

      ul
        list-style: inside

      p:last-of-type
        margin-bottom: 0

  .place
    margin: 4em auto

    h2
      margin: 0 auto 0.5em auto
      text-align: left

    > section
      display: flex
      gap: 2em
      justify-content: space-between
      margin: auto

      section
        max-width: 40em

    iframe
      margin: -5em 0 0 0
      height: 20em

    iframe + a
      display: none

  .afpy
    background: $purple
    color: white
    display: flex
    justify-content: center
    gap: 1em
    padding: 3em 0

    h3
      line-height: 1.2

    section:first-of-type
      margin: 0
      max-width: 25em

      h2
        color: inherit
        line-height: 1
        margin-top: 0.5em
        text-align: left

    section:last-of-type
      margin: 0
      max-width: 30em

  .become-sponsor
    aside
      color: $red
      font-weight: 700
      margin-top: 3em
      text-align: center
      text-transform: uppercase

    h2
      margin-top: 0

    p
      margin: auto
      max-width: 30em
      text-align: center

    .contact-sponsor
      background: $grey
      border-radius: 10px
      margin: 3em auto
      min-width: min-content
      padding: 2em 6em
      width: 30%

      p
        width: initial

      a
        color: $red
        font-size: 3em
        font-weight: 700
        transition: color 0.5s

        &:hover
          color: $red-dark

    .sponsors
      margin: auto

      a
        margin: initial


main
  flex: 1

  article > *
    margin-left: auto
    margin-right: auto
    max-width: 70rem
    padding: 0 2rem

    table
      border-collapse: collapse
      margin: 2em auto
      width: 60rem

      th
        font-weight: normal

      td
        border: 1px solid $secondary
        padding: 0.25em

        &:not(:first-child)
          text-align: center
          width: 15%

    iframe
      border: 0
      height: 25rem
      margin: 1em 0
      max-width: 100%
      overflow: hidden
      padding: 0
      width: 100%

  .sponsors img
    display: inline-block
    line-height: 120px
    max-height: 100px
    margin: 1rem
    vertical-align: middle
    width: 200px


#sponsors
  .sponsor
    max-width: 32em

    > a
      display: block
      text-align: center

    .description
      padding: 1.5rem
      border-right: 5px solid $purple
      border-left: 5px solid $red


[id|="talks"] section:nth-child(even)
  background: #F9F9F9
  padding-bottom: 1.2em
  padding-top: 0.1em


// Mobile
@media (max-width: 1000px)
  html
    font-size: 1em

  h3
    font-size: 1.4em

  #index
    .logo
      max-width: 30em
      width: 80%

    .pycon-presentation
      margin: auto
      width: 65%

    .event-description
      flex-direction: column
      gap: 2em

      section
        padding: 1em

    .place > section
      flex-direction: column

      iframe
        margin-top: 0

    .afpy
      flex-direction: column

      section:first-child,
      section:last-child
        max-width: none

    .become-sponsor
      .contact-sponsor a
        font-size: 1.2em

  nav
    align-items: flex-start
    background-image: none
    flex-direction: row-reverse
    flex-wrap: wrap
    padding-left: 2rem

    ul#pages
      flex-direction: column
      gap: 2em
      justify-content: center
      height: 0
      margin: 0 auto 0 0
      order: 10
      overflow: hidden
      width: 100%

      &:hover
        height: calc(100svh - 6rem)

      &:before
        content: '☰'
        font-size: 3rem
        position: absolute
        right: 1.5rem
        top: 0.5rem

      &:hover:before
        content: "⨯"

    &:after
      content: " "
      height: 4rem
      position: absolute
      right: 1.5rem
      top: 0.5rem
      width: 4rem
      z-index: -1

    &:has(ul:hover):after
      transition: z-index 1s
      z-index: 1

    li:first-child a:before
      display: none

    ul#languages
      height: 4rem
      margin-right: auto
      width: 7rem

  footer
    background-position: center 40px

    ul
      flex-direction: column
      margin-top: 100px

  aside ul
    flex-direction: column

  main article table
    font-size: 0.9em
    width: auto

  embed
    float: none
    margin: 0
    width: 100%
