// Colors
$grey: #eff1f3
$purple: #1b0e29
$red: #ff213b

// TODO: remove these variables when the whole website has the new style
$background: #eff1f3
$text: #1b0e29
$primary: #ff213b
$secondary: $text
$third: $primary

// Fonts
@font-face
  font-family: MonaSans
  font-style: normal
  font-weight: 400
  src: url(/2024/static/fonts/MonaSans-Regular.ttf)

@font-face
  font-family: MonaSans
  font-style: normal
  font-weight: 700
  src: url(/2024/static/fonts/MonaSans-Bold.ttf)

@font-face
  font-family: MonaSans
  font-style: normal
  font-weight: 800
  src: url(/2024/static/fonts/MonaSansCondensed-ExtraBold.ttf)


// Common
*
  line-height: 1.5

html
  color: $text
  font-family: MonaSans
  font-size: 1.2em
  letter-spacing: .03em

body
  display: flex
  flex-direction: column
  margin: 0
  min-height: 100vh

h1
  color: $purple
  font-size: 3em
  font-weight: 800
  line-height: 1
  margin: 0
  text-transform: uppercase

h2
  color: $purple
  font-size: 3em
  font-weight: 800
  margin: 1.5em auto 0 auto
  text-align: center
  text-transform: uppercase

h3
  font-size: 2em
  font-weight: 700
  line-height: 1
  margin: 1em auto

h4
  color: $purple

a
  color: $purple
  font-weight: 700
  text-decoration: none

  &:hover, &:focus
    text-decoration: underline $red

address
  font-style: normal
  white-space: pre-line

ul
  padding: 0

ul li::marker
  color: $red

embed
  display: block
  float: left
  margin: 0 1em 2em 0
  width: 50%

embed + p
  margin-top: 2em

.button
  background-color: $red
  border: 2px solid $red
  border-radius: 6px
  color: white
  display: inline-block
  font-weight: 700
  letter-spacing: 0.01em
  margin: 1rem 0
  max-width: max-content
  padding: 1rem
  text-transform: uppercase
  transition: background-color 0.5s

  &:hover, &:focus
    background-color: lighten($red, 15%)
    text-decoration: inherit

.important
  color: $red
  font-weight: 700


// Nav
nav
  background: url(/2024/static/images/logo-simple-semi-couleurs.svg) 10% center / 10rem no-repeat
  background-color: $purple
  display: flex
  color: white
  width: 100vw

  ul
    align-items: center
    display: flex
    list-style: none

  li
    padding-bottom: 0.3em

  li.active
    border-bottom: 1px solid $red
    font-weight: 700

    a:hover
      text-decoration: none

  a
    color: inherit
    font-weight: inherit

  ul#pages
    align-items: center
    justify-content: space-between
    margin: 2em auto
    width: 50%

  ul#languages
    justify-content: space-evenly
    position: absolute
    right: 10em
    top: 1em
    width: 10%

    li
      opacity: 0.5

    li.active
      border: none
      opacity: 1

    li a::before
      background: 10% center / 1em no-repeat
      content: ''
      display: inline-block
      height: 0.75em
      width: 1em

    li#french a::before
      background-image: url(/2024/static/images/france.svg)

    li#english a::before
      background-image: url(/2024/static/images/united-kingdom.svg)

  > a
    position: absolute
    right: 2em


// Footer
footer
  background: url(/2024/static/images/logo-simple-couleurs.svg) 10% center / 10rem no-repeat
  border-top: 1px solid $grey
  margin-top: 2em
  width: 100vw

  ul
    align-items: center
    display: flex
    justify-content: space-between
    list-style: none
    margin: 2em auto
    width: 40%

    a
      font-weight: inherit


// Main page
#index
  .logo
    display: block
    margin: 1em auto
    width: 20%

  .coverboard
    // Photo by https://unsplash.com/fr/@chan_lee94
    background: url(/2024/static/images/strasbourg-small.jpg) center/ cover no-repeat
    align-items: center
    display: flex
    flex-direction: column
    height: 40em
    overflow: hidden

  .pycon-presentation
    background: white
    border-radius: 5%
    margin: auto auto auto 10%
    padding: 2em
    width: 26%

    aside
      background: $red
      border-radius: 50%
      color: white
      float: right
      font-size: 0.8em
      font-weight: 800
      height: 6em
      line-height: 0
      margin: -10rem 0 0 25%
      padding: 0.2em 0 0.2em 0.2em
      position: absolute
      text-align: center
      text-transform: uppercase
      width: 6em

      sup
        font-size: 1.1em
        text-transform: initial
        vertical-align: 95%

      span
        font-size: 3em

    ul
      display: flex
      list-style: none
      margin: 0

      .register
        margin-right: 1em

      .schedule
        background: white
        color: $red
        transition: background-color 0.5s

        &:hover, &:focus
          background-color: lighten($red, 40%)

  .pycon-date
    color: $red
    font-size: 1.2em
    font-weight: 700

  .details
    display: block
    margin: auto

  .event-description
    display: flex
    justify-content: center
    margin: auto

    section
      background: $grey
      border-radius: 10px
      margin: 4em auto 0 auto
      padding: 2em
      width: 35%

      h3
        margin: 0 auto 1em auto

      aside
        color: $red
        font-weight: 700
        margin-bottom: 1em
        text-transform: uppercase

      ul
        list-style: inside

      p:last-of-type
        margin-bottom: 0

  .place
    margin: 4em auto

    h2
      margin: 0 auto 0.5em auto
      text-align: left

    > section
      display: flex
      justify-content: space-between
      margin: auto

      section
        width: 40%

    iframe
      margin: -5em 0 0 0
      height: 20em
      width: 55%

    iframe + a
      display: none

  .afpy
    background: $purple
    color: white
    display: flex
    justify-content: center
    padding: 3em 0

    section:first-of-type
      width: 30%

      h2
        color: inherit
        margin-top: 0.5em
        text-align: left

    section:last-of-type
      width: 35%

  .become-sponsor
    aside
      color: $red
      font-weight: 700
      margin: 3em 0 0 0
      text-align: center
      text-transform: uppercase
      width: 100%

    h2
      margin-top: 0

    p
      margin: auto
      text-align: center
      width: 30%

    .contact-sponsor
      background: $grey
      border-radius: 10px
      margin: 3em auto
      padding: 2em 6em
      width: 30%

      p
        width: initial

      a
        color: $red
        font-size: 3em
        font-weight: 700

    .sponsors
      margin: auto

      a
        margin: initial


body:not(#index)
  article > *
    margin: auto

  h2
    margin: 1em auto

  article
    p, ul
      margin: 1em auto


main
  flex: 1

  article > *
    width: 70rem

    table
      border-collapse: collapse
      margin: 2em auto
      width: 60rem

      th
        font-weight: normal

      td
        border: 1px solid $secondary
        padding: 0.25em

        &:not(:first-child)
          text-align: center
          width: 15%

    iframe
      border: 0
      height: 25rem
      margin: 1em 0
      max-width: 100%
      overflow: hidden
      padding: 0
      width: 100%

  .sponsors img
    display: inline-block
    line-height: 120px
    max-height: 100px
    margin: 1rem
    vertical-align: middle
    width: 200px


#sponsors
  .sponsor
    max-width: 32em

    > a
      display: block
      text-align: center

    .description
      padding: 1.5rem
      border-right: 5px solid $secondary
      border-left: 5px solid $primary


[id|="talks"] section:nth-child(even)
  background: #F9F9F9
  padding-bottom: 1.2em
  padding-top: 0.1em


// Mobile
@media (max-width: 980px)
  #index .coverboard
    .cover
      width: 200%
      padding-top: calc(2 * 39.21875%

      img
        left: -50%
        transform: translate(25%, 0)

    .program-button
      position: absolute
      z-index: 2
      width: 100%
      top: 58%

@media (max-width: 900px)
  html
    font-size: 1em

  nav, footer
    ul li a
      font-size: 0.9em
      padding: 0.5em

  aside ul
    flex-direction: column

  main article table
    font-size: 0.9em
    width: auto

  embed
    float: none
    margin: 0
    width: 100%
