<section>
  <h3
    id="sponsors-{{ sponsor.metadata.slug }}"
    style="
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    "
  >
    {% if sponsor.metadata.logo %}
    <img
      class="avatar"
      src="{{ url_for('static', filename=sponsor.metadata.logo) }}"
      loading="lazy"
    />
    {% endif %}
    <a
      href="{{ url_for('sponsors_details', lang=lang, slug=sponsor.metadata.slug) }}"
    >
      {{ sponsor.metadata.name }}
    </a>
  </h3>
  {% if sponsor.metadata.short_description %} {{ sponsor.metadata.short_description | markdown | safe }} {% endif %}
</section>
