{% extends '_layout.jinja2' %}

{% block content %}
  <article>

    <h2>Code de conduite</h2>


    <p>Ce code de conduite vise à garantir un environnement sûr, respectueux et inclusif pour tous les participants à notre conférence. Le non-respect de ce code peut entraîner des sanctions, jusqu'à l'expulsion de l'événement.</p>

    <h2>Principes Fondamentaux</h2>

    <ul>
      <li><strong>Respect:</strong> Traitez tous les participants avec courtoisie et respect, quelles que soient leurs différences. Écoutez attentivement et évitez les interruptions.</li>
      <li><strong>Inclusion:</strong> Créez un espace accueillant pour tous. Soyez conscient de l'impact de vos paroles et actions.</li>
      <li><strong>Responsabilité:</strong> Assumez la responsabilité de vos actions et excuses-vous sincèrement en cas d'erreur.</li>
      <li><strong>Confidentialité:</strong> Respectez la confidentialité des informations partagées.</li>
    </ul>

    <h2>Comportements Inacceptables</h2>

    <p>Toute forme de harcèlement est interdite, incluant :</p>

    <ul>
      <li><strong>Harcèlement verbal:</strong> Insultes, menaces, moqueries, discours haineux, etc.</li>
      <li><strong>Harcèlement non verbal:</strong> Gestes menaçants, regards insistants, intimidation.</li>
      <li><strong>Harcèlement physique:</strong> Contact physique non désiré, agression.</li>
      <li><strong>Harcèlement sexuel:</strong> Avancées sexuelles non désirées, remarques ou gestes à connotation sexuelle.</li>
      <li><strong>Cyberharcèlement:</strong> Harcèlement en ligne.</li>
      <li><strong>Discrimination:</strong> Comportement discriminatoire basé sur le sexe, l'identité de genre, l'orientation sexuelle, l'âge, le handicap, la race, la religion, l'origine nationale, etc.</li>
      <li><strong>Intimidation:</strong> Comportement destiné à effrayer, humilier ou marginaliser.</li>
      <li><strong>Stalking:</strong> Suivi ou harcèlement répétés non sollicités.</li>
      <li><strong>Photographies/enregistrements non consentis:</strong> Prise de photos ou vidéos sans consentement.</li>
      <li><strong>Perturbation des événements:</strong> Interruptions répétées des présentations ou activités.</li>
      <li><strong>Nudité ou contenu sexuel inapproprié:</strong> Affichage de nudité ou de contenu à caractère sexuel dans les espaces publics.</li>
      <li><strong>Comportement ou commentaires offensants:</strong> Tout comportement ou commentaire susceptible d'offenser ou de blesser les autres.</li>
      <li><strong>Tout comportement illégal:</strong> Toute activité illégale ou infraction à la loi.</li>
      <li><strong>Détérioration des biens:</strong> Dommage intentionnel aux biens de la conférence.</li>
    </ul>

    <h2>Signalement</h2>

    <p>Si vous êtes témoin ou victime d'un comportement inacceptable, veuillez le signaler immédiatement à un organisateur de l'événement, en personne, par courriel à <a href="mailto:meetup.data.lille@gmail.com">meetup.data.lille@gmail.com</a>, ou par téléphone au 01.23.45.67.89. Votre signalement sera traité avec discrétion et confidentialité. Nous encourageons également les participants à ne pas divulguer publiquement d'informations sur un incident avant qu'il n'ait été géré par les organisateurs, pour la sécurité de tous.</p>

    <h2>Engagement</h2>

    <p>En participant à cette conférence, vous vous engagez à respecter ce code de conduite. Votre coopération est essentielle pour créer un environnement positif et accueillant pour tous.</p>

  </article>
{% endblock content %}
