{% extends '_layout.jinja2' %}

{% block content %}
  <article class="coverboard">
    <img src="/2024/static/images/pyconfr.svg" />

    <section class="pycon-presentation">
      <h1>Bienvenue à la PyConFR 2024 !</h1>

      <aside>
        15<sup>e</sup> édition
      </aside>

      <p class="pycon-date">Du 31 octobre au 3 novembre 2024 à Strasbourg</p>

      <p>
        Organisée par <strong>l'AFPy</strong>, cette conférence de quatre
        jours est gratuite, entièrement gérée par des bénévoles et dédiée
        au regroupement des personnes intéressées par le langage de
        programmation <strong>Python</strong>.
      </p>

      <ul>
        <li>
          <a class="button" href="{{ url_for('page', name='schedule', lang=lang, _anchor='register') }}">S’inscrire</a>
        </li>
        <li>
          <a class="button" href="{{ url_for('page', name='schedule', lang=lang) }}">Programme</a>
        </li>
      </ul>
    </section>
  </article>

  <article>
    <h2>Programme</h2>
    <a href="{{ url_for('page', name='schedule', lang=lang) }}">Plus de détails</a>
    <section>
      <h3>Développements participatifs : sprints !</h3>
      <aside>Jours 1&2</aside>
      <p>
        Les développeurs et développeuses de différents projets open source se
        rejoignent pour coder ensemble. Chaque personne est la bienvenue pour
        contribuer, et nous cherchons également à accompagner les débutantes.
      </p>
      <p>
        Participez au développement de votre projet préféré !
      </p>
      <p>
        Nous fournissons l'espace et le matériel nécessaire à l'organisation
        (tables, chaises, connexion internet… et café !).
      </p>
    </section>

    <section>
      <h3>Conférences & ateliers</h3>
      <aside>Jours 3&4</aside>
      <p>
        Durant ces deux jours, vous aurez l'occasion de participer à des
        présentations sur des sujets variés, autour du langage Python :
      </p>
      <ul>
        <li>usages</li>
        <li>bonnes pratiques</li>
        <li>retours d'expériences</li>
        <li>partages d'idées</li>
      </ul>
    </section>
  </article>

  <article id="place">
    <h2>Venir</h2>
    <section>
      <img src="{{ url_for('static', filename='images/partners/UFR.png') }}"/>
      <address>
        UFR Mathématique et Informatique
        7 rue René Descartes
        67000 Strasbourg
      </address>
      <a class="button" href="{{ url_for('page', name='venue', lang=lang) }}">
        Plus de détails
      </a>
    </section>

    {{ map() }}
  </article>

  <article>
    <h2>AFPy, Association Francophone Python</h2>

    <a href="https://www.afpy.org">Notre site web</a>
    <section>
      <p>
        L’AFPy promeut le langage Python, que ce soit auprès d’un public
        averti ou débutant.
      </p>
      <p>
        Nous assurons la promotion du langage de programmation Python auprès du
        plus large public possible.
      </p>
      <p>
        Nous diffusons nos connaissances et sommes ouverts aux apports
        extérieurs.
      </p>
      <p>
        La solidarité et la démocratie élargissent les horizons et accroissent
        le potentiel de chacun.
      </p>
    </section>
  </article>

  <article>
    <h2>Devenez Sponsors !</h2>
    <aside>Soutenez-nous !</aside>

    <p>
      <a href="{{ url_for('page', name='sponsors', lang=lang) }}">Devenez</a> sponsor
      et offrez à votre entreprise une plus grande visibilité lors de cet évènement.
    </p>
    <section>
      {{ sponsors(lang, only_logo=True) }}
    </section>
    <p>
      L'équipe est disponible pour répondre à vos questions sur
      l'événement à l'adresse <a href="mailto:contact@pycon.fr">contact@pycon.fr</a>
     </p>
  </article>
{% endblock content %}
