{% extends '_layout.jinja2' %}

{% block content %}
  <img class="datadays-logo" src="/2025/static/images/pyconfr.svg" />

  <article class="coverboard">
    <section class="datadays-presentation">
      <h1>Bienvenue aux DATA DAYS 2025 !</h1>

      <aside>
        <span>1</span><sup>ère</sup> édition
      </aside>

      <p class="datadays-date">Le TODO date à Lille</p>

      <p>
        Organisée par l'association Data Lille, une journée de conférence,
        entièrement gérée par des bénévoles et dédiée
        au regroupement des personnes intéressées par la donnée au sens large.
      </p>

      <ul>
        <li>
          <a class="button register" href="{{ url_for('schedule', lang=lang, _anchor='register') }}">S’inscrire</a>
        </li>
        <li>
          <a class="button schedule" href="{{ url_for('schedule', lang=lang) }}">Programme</a>
        </li>
      </ul>
    </section>
  </article>

  <article>
    <h2>Programme</h2>
    <a class="button details" href="{{ url_for('schedule', lang=lang) }}">Plus de détails</a>

    <section class="event-description">

      <section>
        <aside>TODO date</aside>
        <h3>Conférences &amp; ateliers</h3>
        <p>
          Durant cette journée, vous aurez l'occasion de participer à des
          présentations sur des sujets variés, autour du langage Python :
        </p>
        <ul>
          <li>usages</li>
          <li>bonnes pratiques</li>
          <li>retours d'expériences</li>
          <li>partages d'idées</li>
        </ul>
      </section>
    </section>
  </article>

  <article class="place">
    <h2>Venir</h2>
    <section>
      <section>
        <address>
          <strong>TODO</strong>
          TODO, 59000, Lille
        </address>
        <a class="button" href="{{ url_for('venue', lang=lang) }}">
          Plus de détails
        </a>
      </section>

      {% include 'fr/fragments/map_fullscreen.jinja2.html' %}
    </section>
  </article>

  <article class="place">
    <h2>Venir</h2>
    <section>
      <section>
        <address>
          <strong>TODO</strong>
          TODO, 59000, Lille
        </address>
        <a class="button" href="{{ url_for('venue', lang=lang) }}">
          Plus de détails
        </a>
      </section>

      {% include 'fr/fragments/map_fullscreen.jinja2.html' %}
    </section>
  </article>

  <article class="afpy">
    <section>
      <h2>Data Lille</h2>
      <a class="button" href="https://www.data-lille.fr">Notre site web</a>
    </section>
    <section>
      <h3>
TODO blabla asso      </p>
    </section>
  </article>

  <article class="become-sponsor">
    <aside>Soutenez-nous !</aside>
    <h2>Devenez Sponsors !</h2>

    {% include 'fr/fragments/sponsors_list.jinja2.html' %}

    <section class="contact-sponsor">
      <p>
        L'équipe est disponible pour répondre à vos questions sur
        l'événement à l'adresse <a href="mailto:meetup.data.lille@gmail.com">meetup.data.lille@gmail.com</a>
      </p>
    </section>
  </article>
{% endblock content %}
