{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Actualités</h2>

    <section>
      <h3>Planning et inscriptions</h3>

      <p>
        Le planning de la PyConFR 2024 est <a href="{{ url_for('page', name='schedule', lang=lang) }}">disponible</a> !
      </p>

      <p>
        Comme toujours, la PyConFR est un évènement gratuit et l’<a href="https://www.helloasso.com/associations/afpy/evenements/pyconfr-2024">inscription</a> est obligatoire.
      </p>

      <p>
        Les deux premiers jours de la conférence seront occupés par
        les <a href="{{ url_for('talks', lang=lang, category='sprint') }}">sprints</a>. Et
        les deux jours suivants seront dédiés aux conférences
        (<a href="{{ url_for('talks', lang=lang, category='long-talk') }}">longues</a>
        et <a href="{{ url_for('talks', lang=lang, category='short-talk') }}">courtes</a>) et
        <a href="{{ url_for('talks', lang=lang, category='workshop')}}">ateliers</a>.
      </p>

      <p>
        Trois keynotes sont également au programme :
      </p>
      <ul>
        <li><a href="{{ url_for('talks', lang=lang, category='plenary', _anchor='talk-LAXRUP') }}">De villageoise à l’itWoman… Quelles actions pour faire de mon rêve TECH une réalité ?</a>, par Houleymatou Baldé</li>
        <li><a href="{{ url_for('talks', lang=lang, category='plenary', _anchor='talk-88RCKR') }}">Recherche des bonnes pratiques de packaging</a>, par Françoise Conil</li>
        <li><a href="{{ url_for('talks', lang=lang, category='plenary', _anchor='talk-SVUGC3') }}">Reality is not an end-to-end prediction problem: Applied NLP in the age of Generative AI</a>, par Ines Montani.</li>
      </ul>

      <p>
        Cette année, un <a href="{{ url_for('page', name='schedule', lang=lang) }}#children-area">espace enfants</a> (de
        3 ans à 12 ans) est mis à disposition gratuitement sur inscription. Vous pouvez <a href="https://www.helloasso.com/associations/afpy/evenements/espace-enfants-a-la-pyconfr-2024">inscrire</a>
        vos enfants jusqu’au <strong>15 octobre</strong>.
      </p>

      <p>
        Durant cette édition, c’est aussi le retour du <a href="{{ url_for('talks', lang=lang, category='lunch', _anchor='talk-MRHUVD') }}">déjeuner PyLadies</a>.
        Ce déjeuner, gratuit, est destiné à rassembler les femmes
        (<a href="https://fr.wikipedia.org/wiki/Cisgenre">cis</a> et
        <a href="https://fr.wikipedia.org/wiki/Transgenre">trans</a>),
        les hommes <a href="https://fr.wikipedia.org/wiki/Transgenre">trans</a>,
        les personnes <a href="https://fr.wikipedia.org/wiki/Non-binaire">non-binaires</a> ou les
        <a href="https://fr.wikipedia.org/wiki/Non-binarit%C3%A9#Identit%C3%A9s_de_genre">agenré⋅es</a>
        qui font du Python, et a pour but de les aider à
        devenir des membres actifs et des moteurs de la communauté. Un
        des objectifs est également de tisser des liens entre la
        <a href="https://pyladies.com/">communauté PyLadies</a> et le reste de la communauté Python
        francophone.
      </p>
      <p>
        Les <a href="https://www.helloasso.com/associations/afpy/evenements/dejeuner-pyladies-a-la-pyconfr-2024">inscriptions</a>
        au déjeuner PyLadies sont ouvertes jusqu’au <strong>27 octobre</strong>.
      </p>

      <p>
        Le dimanche matin, l'AFPy tiendra son assemblée générale. Si
        vous souhaitez y voter, assurez vous d'être à jour de
        <a href="https://www.helloasso.com/associations/afpy/adhesions/adhesion-2024-a-l-afpy">cotisation</a>.
      </p>
    </section>

    <section>
      <h3>Ouverture du CFP et des demandes de bourses</h3>
      <p>
        Le <a href="https://cfp.pycon.fr/pyconfr-2024/cfp">CFP (Call For Proposal)</a> de la PyConFR 2024 est ouvert !
      </p>
      <p>
        Le CFP vous permet de proposer vos sujets pour les sprints,
        les conférences et les ateliers.
      </p>
      <p>
        <strong>Vous pouvez soumettre vos propositions jusqu’au 21 juillet 2024</strong>.
        À l’issue de la période d’ouverture, les membres du Comité
        Directeur de l’AFPy examineront toutes les propositions et le
        planning pourra être fait !
      </p>
      <p>
        Vous pouvez proposer des sujets en français ou en anglais.
        L’AFPy promouvant le langage Python auprès du communauté
        francophone, nous tenons à garder une majorité du programme en
        français (~80%).
      </p>
      <p>
        Suite aux différents retours de l’édition précédente, vous
        pourrez indiquer le niveau de l’audience visée sur vos
        propositions ainsi que la langue dans laquelle vous ferez la
        présentation. Cela nous permettra de mettre l’information dans
        le programme et ainsi éviter certaines déconvenues :).
      </p>

      <p>
        Les demandes de bourses sont également ouvertes !
      </p>
      <p>
        Comme chaque année, nous proposons des bourses pour aider les
        étudiant·es et les personnes n’ayant pas les moyens de venir à
        la PyConFR.
      </p>
      <p>
        Vous pouvez en faire la demande par mail auprès de notre
        trésorier (<a href="mailto:tresorier@afpy.org">tresorier@afpy.org</a>). N’hésitez
        pas à consulter la page <a href="{{ url_for('page', name='financial', lang=lang) }}">Bourses</a> pour
        connaître les informations à fournir et les modalités.
      </p>
      <p>
        <strong>Les demandes de bourses sont ouvertes jusqu’au 30 septembre 2024</strong>.
      </p>

      <p>
        ⚠️ Passé les dates indiquées, nous n’accepterons plus les
        propositions de sujets et les demandes de bourses.
      </p>
    </section>

    <section>
      <h3>PyConFR 2024</h3>
      <p>
        L'édition 2024 de la conférence sur Python de la communauté francophone se
        tiendra à Strasbourg du 31 octobre au 3 novembre 2024.
      </p>

      <p>
        Les deux premiers jours sont réservés à des séances de développement
        participatif. Les développeurs et développeuses de différents projets
        <em>open source</em> se rejoignent pour coder ensemble. Chaque personne
        est la bienvenue pour contribuer, et nous cherchons également à
        accompagner les débutant·e·s. Nous fournissons l'espace et le matériel
        nécessaire à l'organisation (tables, chaises, connexion internet…). Les
        projets présents seront annoncés sur notre site au fur et à mesure de
        leur inscription.
      </p>

      <p>
        Les deux derniers jours sont consacrés à des conférences. Vous aurez
        l'occasion de participer à des présentations sur des sujets variés,
        autour du langage Python, de ses usages, des bonnes pratiques, des
        retours d'expériences, des partages d'idées… Un appel à présentation sera
        également lancé d'ici quelque temps.
      </p>

      <p>
        Cet événement est hébergé par L’UFR de mathématique et
        d'informatique. Merci pour leur chaleureux accueil :).
      </p>

      <p>
        Nous demandons à chaque personne souhaitant venir de lire le
        <a href="{{url_for('page', name='conduct', lang=lang) }}">code de
          conduite</a>. Nous souhaitons faire en sorte que cette conférence soit un
        événement accueillant pour tout le monde. Le groupe de travail de l'AFPy
        se mobilise pour faire que chacun·e se sente bien durant la
        conférence. Nous vous annoncerons les actions.
      </p>

      <p>
        Si vous souhaitez déjà organiser votre venue, nous vous avons préparé la page
        <a href="{{ url_for('page', name='venue', lang=lang) }}">Venir</a>.
      </p>

      <p>
        Nous vous réservons plusieurs autres annonces pour les semaines à venir, alors
        suivez-nous sur <a href="https://mamot.fr/@AFPy">Mastodon</a>
        et <a href="https://twitter.com/pyconfr">Twitter</a>.
      </p>

      <p>
        Venez discuter avec nous sur notre <a href="https://www.afpy.org/discord">Discord</a> ou notre <a href="https://discuss.afpy.org/">Discourse</a>.
      </p>
    </section>
  </article>
{% endblock content %}
