{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Programme</h2>

    <section class="event-description">
      <section>
        <aside>31 octobre &amp; 1<sup>er</sup> novembre</aside>
        <h3>Développements participatifs : sprints !</h3>
        <p>
          Les développeurs et développeuses de différents projets open source se
          rejoignent pour coder ensemble. Chaque personne est la bienvenue pour
          contribuer, et nous cherchons également à accompagner les débutantes.
        </p>
        <p class="important">
          Participez au développement de votre projet préféré !
        </p>
        <p>
          Nous fournissons l'espace et le matériel nécessaire à l'organisation
          (tables, chaises, connexion internet… et café !).
        </p>
        <p>
          Le programme sera disponible en septembre.
        </p>
        <a class="button" href="https://cfp.pycon.fr/pyconfr-2024/cfp">proposez votre sujet</a>
      </section>

      <section>
        <aside>2 &amp; 3 novembre</aside>
        <h3>Conférences &amp; ateliers</h3>
        <p>
          Durant ces deux jours, vous aurez l'occasion de participer à des
          présentations sur des sujets variés, autour du langage Python :
        </p>
        <ul>
          <li>usages</li>
          <li>bonnes pratiques</li>
          <li>retours d'expériences</li>
          <li>partages d'idées</li>
        </ul>
        <p>
          Le programme sera disponible en septembre.
        </p>
        <a class="button" href="https://cfp.pycon.fr/pyconfr-2024/cfp">proposez votre sujet</a>.
      </section>
    </section>

    <section class="keynotes">
      <h3>Keynotes</h3>
      <section class="speakers">
        <dl>
          <dt><img src="{{ url_for('static', filename='images/keynotes/houleymatou_baldé.png')  }}"></dt>
          <dd class="speaker">Houleymatou Baldé</dd>
          <dd class="title">Fondatrice IT Woman by YEESO</dd>
          <dd class="talk">De villageoise à l’itWoman… Quelles actions pour faire de mon rêve TECH une réalité ?</dd>
        </dl>

        <dl>
          <dt><img src="{{ url_for('static', filename='images/keynotes/françoise_conil.jpg')  }}"></dt>
          <dd class="speaker">Françoise Conil</dd>
          <dd class="title">Développeuse d'applications au CNRS</dd>
          <dd class="talk">Recherche des bonnes pratiques de packaging</dd>
        </dl>

        <dl>
          <dt><img src="{{ url_for('static', filename='images/keynotes/ines_montani.jpg')  }}"></dt>
          <dd class="speaker">Ines Montani</dd>
          <dd class="title">Fondatrice d'Explosion</dd>
          <dd class="talk">Reality is not an end-to-end prediction problem: Applied NLP in the age of Generative AI</dd>
        </dl>
      </section>
    </section>

    <!--
         <section>
         <h3>Calendrier</h3>
         <p>
         Le calendrier est disponible ci-dessous, sur une
         <a href="{{ url_for('schedule', lang=lang) }}">page en plein écran</a>,
         ou <a href="{{ url_for('calendar') }}">dans votre application de calendrier favorite</a>.
         </p>
         <p>
         Vous pouvez également lire la description des
         <a href="{{ url_for('talks', lang=lang, category='plenary') }}">plénières</a>, des
         <a href="{{ url_for('talks', lang=lang, category='1h') }}">conférences d’une heure</a>, des
         <a href="{{ url_for('talks', lang=lang, category='30m') }}">conférences de 30 minutes</a>, des
         <a href="{{ url_for('talks', lang=lang, category='workshop')}}">ateliers</a> et des
         <a href="{{ url_for('talks', lang=lang, category='sprint') }}">sprints</a>.
         </p>

         <iframe src="{{ url_for('schedule', lang=lang) }}"></iframe>
         </section>
    -->

    <section id="register">
      <h3>Inscriptions</h3>

      <p>
        Les inscriptions ne sont pas encore ouvertes.
      </p>
      <p>
        L’accès aux sprints, aux conférences et aux ateliers de PyConFR est
        gratuit.
      </p>
      <p>
        Cependant, <strong>l’inscription est obligatoire pour tous</strong>, y
        compris membres du comité d’organisation, bénévoles, conférenciers et
        sponsors.
      </p>
      <!--
           TODO
           add persons limit for sprints / talks & workshops / saturday dinner
           add tshirt price
      -->
      <p>
        Vous pouvez également soutenir <a href="https://afpy.org/">l’AFPy</a>,
        qui organise chaque année cet événement,
        en <a href="https://www.helloasso.com/associations/afpy/formulaires/1/">faisant
        un don</a>. Si vous souhaitez avoir une voix à son assemblée générale,
        qui aura lieu le dimanche matin, vous
        devez <a href="https://www.afpy.org/adherer">devenir membre</a>.
      </p>
      <!--
           <div class="column center">
           <a class="button" href="https://www.helloasso.com/associations/afpy/evenements/pyconfr-2024">S’inscrire</a>
           </div>
      -->
    </section>

    <section>
      <h3>Espace enfants</h3>

      <p>
        Un espace enfants est mis en place <strong>durant les quatres jours</strong> de la
        PyConFR et est animé par <a href="https://www.babychou.com/">Babychou Services</a>.
      </p>
      <p>
        L’espace enfants accueille <strong>un maximum de 18 enfants, de 3 ans à 12 ans</strong>.
      </p>
      <p>
        Les inscriptions seront ouvertes en même temps que les inscriptions pour
        l’évènement et jusqu’à 15 jours avant le début de la PyConFR.
        Une priorité est donnée aux personnes animant des sprints, conférences et ateliers.
      </p>
    </section>

    <section id="dinner">
      <h3>Repas du samedi soir</h3>
      <p>
        Un repas est organisé le samedi soir, de 19 h 30 à 23 h 00,
        uniquement pour les personnes ayant réservé lors de leur inscription.
      </p>
      <p>
        Ce repas comprend
        un cocktail dînatoire comprenant divers petits fours et des boissons avec et
        sans alcool.
      </p>
      <p>
        L’achat d’autres boissons alcoolisées (non comprises dans le prix) est possible
        lors du repas.
      </p>
    </section>
  </article>
{% endblock content %}
