{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Speakers</h2>

    {% if speakers %}
    {% for speaker in speakers %}
      <section>
        <h3 id="speaker-{{ speaker.metadata.slug }}">
          <a href="{{ url_for('speakers_details', lang=lang, slug=speaker.metadata.slug) }}">
            {% if speaker.metadata.avatar %}
              <img class="avatar" src="{{ speaker.metadata.avatar }}" loading="lazy">
            {% endif %}
            <span>{{ speaker.metadata.name }}</span>
          </a>
        </h3>
        {% if speaker.metadata.short_bio %}
          {{ speaker.metadata.short_bio | markdown | safe }}
        {% else %}
          <p>Pas de biographie.</p>
        {% endif %}
      </section>
    {% endfor %}
    {% else %}
    <section id="register">
      <h3>Devenez Speaker</h3>

      <p>
        Que vous soyez expert ou passionné, soumettez dès maintenant votre proposition de conférence.
        Nous recherchons des présentations captivantes de 30 ou 60 minutes sur tous les aspects de la data.
      </p>
      <a class="button" href="https://conference-hall.io/data-days-lille-2025">Devenez Speaker</a>

    </section>

    <br>
    <br>

    <section id="register">
      <h3>Dates Importantes</h3>

      <ul>
        <li><b>9 décembre 2024 :</b> ouverture des propositions de conférence.</li>
        <li><b>9 février 2025 :</b> fermeture des propositions de conférence.</li>
        <li><b>23 février 2025 :</b> réponses aux propositions de conférence.</li>
        <li><b>28 février 2025 :</b> programme des conférences définitif.</li>
        <li><b>28 mars 2025 :</b> Data Days.</li>
      </ul>
    </section>



    {% endif %}
  </article>
{% endblock content %}
