{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Speakers</h2>

    {% if speakers %}
    {% for speaker in speakers %}
      <section>
        <h3 id="speaker-{{ speaker.metadata.slug }}">
          <a href="{{ url_for('speakers_details', lang=lang, slug=speaker.metadata.slug) }}">
            {% if speaker.metadata.avatar %}
              <img class="avatar" src="{{ speaker.avatar }}" loading="lazy">
            {% endif %}
            {{ speaker.metadata.name }}
          </a>
        </h3>
        {% if speaker.content %}
          {{ speaker.content | markdown | safe }}
        {% else %}
          <p>Pas de biographie.</p>
        {% endif %}
      </section>
    {% endfor %}
    {% else %}
    <section id="register">
      <h3>Devenez Speaker</h3>

      <p>
        Que vous soyez expert ou passionné, soumettez dès maintenant votre proposition de conférence.
        Nous recherchons des présentations captivantes de 30 ou 60 minutes sur tous les aspects de la data.
      </p>
      <a class="button" href="https://conference-hall.io/data-days-lille-2025">Devenez Speaker</a>

    </section>
    {% endif %}
  </article>
{% endblock content %}
