{% extends '_layout.jinja2' %}

{% block content %}
<article class="speaker">

    <h2>{{ item.metadata.name }}</h2>
    <section>
      {% if item.metadata.avatar %}
      <img class="avatar" src="{{ item.metadata.avatar }}" loading="lazy">
      {% endif %}
      {% if item.content %}
     <h3>Biographie</h3>
      {{ item.content | markdown | safe }}
      {% else %}
      <p>Pas de biographie.</p>
      {% endif %}

      <h3>Présentations</h3>
      <div>
          {% for talk in talks %}
          <a href="{{ url_for('talks_details', lang=lang, slug=talk.metadata.slug) }}"> {{ talk.metadata.title }} </a> ({{talk.metadata.track}}) <br>
          {% endfor %}
      </div>
    </section>
</article>
  {% endblock content %}
