{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Partenaires</h2>

    {% if sponsors %}
    Sans vous, notre événement ne serait pas possible. 

    <section>
      {% for sponsor in sponsors %}
      {% include 'fr/fragments/sponsors_list.jinja2.html' %}
      {% endfor %}
    </section>
    {% endif %}

    <section id="sponsors">
      <h3>Devenez Sponsors</h3>

      <p>
        Vous rendez possible la tenue des data days et dynamisez la communauté data de la métropole. 
      </p>
        
        <p>
          Nous mettrons en avant votre marque et vos annonces de recrutement durant l'événement. 
      </p>
      <a class="button" href="mailto:meetup.data.lille@gmail.com">Nous Contacter</a>

    </section>

  </article>
  
{% endblock content %}

<section>
