{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Nous soutenir</h2>

    {% include 'fr/fragments/brochures.jinja2.html' %}


    <section>
      <h3>Nous aider avant et pendant l'événement</h3>

      <p>
        Si vous souhaitez nous aider pour la préparation de l'événement, et/ou
        lors de l'événement, n'hésitez pas à nous contacter à
        <a href="mailto:meetup.data.lille.fr">meetup.data.lille.fr</a>.
      </p>

      <p>
        Toute aide bénévole lors de l'événement est la bienvenue !
      </p>
    </section>

    <section>
      <h3>Financer les DataDays</h3>

      <p>Le prix des billets et le sponsoring nous permet de financer TODO </p>

      <p>
        Les data days sont organisés par des bénévoles de la communauté data lilloise
        et permet à cette communauté de se rencontrer, d'échanger et
        de grandir chaque année.
      </p>

      <h4>Sponsoring</h4>


      <p>
        Si vous souhaitez nous soutenir financièrement, vous pouvez contacter nous contacter afin de
        discuter des détails.
      </p>

      <p>
        Cette année, nous proposons les montants et contreparties suivantes :
      </p>

      <table>
        <thead>
          <tr>
            <th>Bénéfice</th>
            <th>Cœur (montant libre)</th>
            <th>Bronze (500 €)</th>
            <th>Argent (1000 €)</th>
            <th>Or (2000 €)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Nom et logo sur <a href="{{ url_for('page', name='sponsors', lang=lang) }}">la page « Sponsors »</a></td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Présentation de 1000 caractères sur <a href="{{ url_for('page', name='sponsors', lang=lang) }}">la page « Sponsors »</a></td>
            <td>-</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Logo sur <a href="{{ url_for('page', name='sponsors', lang=lang) }}">la page d'accueil</a></td>
            <td>-</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Logo sur les affiches</td>
            <td>-</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Panneau dans les salles de conférence</td>
            <td>-</td>
            <td>-</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Présentation de l'entreprise (2 min) en conférence plénière (samedi)</td>
            <td>-</td>
            <td>-</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Stand dans le hall</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>✔</td>
          </tr>
        </tbody>
      </table>

      <p><strong>Les contreparties sont effectives dès réception du règlement.</strong></p>
    </section>
  </article>
{% endblock content %}
