{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Nous soutenir</h2>
    {{ brochures() }}
    <section>
      <h3>Nous aider avant et pendant l'événement</h3>

      <p>
        Si vous souhaitez nous aider pour la préparation de l'événement, et/ou
        lors de l'événement, n'hésitez pas à nous contacter à
        <a href="mailto:contact@afpy.org">contact@afpy.org</a>.
      </p>

      <p>
        Toute aide bénévole lors de l'événement est la bienvenue !
      </p>
    </section>

    <section>
      <h3>Financer PyConFR</h3>

      <p>
        Le mécénat nous permet chaque année de couvrir les frais comme la
        sécurité, des boissons chaudes et fraîches, le nettoyage, la captation
        vidéo, les bourses…
      </p>

      <p>
        PyConFR est organisé par des bénévoles de la communauté Python
        francophone et permet à cette communauté de se rencontrer, d'échanger et
        de grandir chaque année.
      </p>

      <p>
        Si vous souhaitez nous soutenir financièrement, vous pouvez contacter le
        trésorier de l'AFPy
        (<a href="mailto:tresorier@afpy.org">tresorier@afpy.org</a>) afin de
        discuter des détails.
      </p>
      
      <p>
        Cette année, nous proposons les montants et contreparties suivantes :
      </p>

      <table>
        <thead>
          <tr>
            <th>Bénéfice</th>
            <th>Cœur (montant libre)</th>
            <th>Bronze (500 €)</th>
            <th>Argent (1000 €)</th>
            <th>Or (2000 €)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Nom et logo sur <a href="{{ url_for('page', name='sponsors', lang=lang) }}">la page « Sponsors »</a></td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Présentation de 1000 caractères sur <a href="{{ url_for('page', name='sponsors', lang=lang) }}">la page « Sponsors »</a></td>
            <td>-</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Logo sur <a href="{{ url_for('page', name='sponsors', lang=lang) }}">la page d'accueil</a></td>
            <td>-</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Logo sur les affiches</td>
            <td>-</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Panneau dans les salles de conférence</td>
            <td>-</td>
            <td>-</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Présentation de l'entreprise (2 min) en conférence plénière (samedi)</td>
            <td>-</td>
            <td>-</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Stand dans le hall</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>✔</td>
          </tr>
        </tbody>
      </table>

      <section>
        <p>
          Un niveau « Platine » est également disponible. Ce niveau spécial comporte les bénéfices du niveau
          « Or », plus l’affichage du logo sur les documents imprimés et à l’entrée des salles de conférence.
        </p>

        <h4>Interprétation en LSF (Langue des Signes Française) − 5 670 €</h4>

        <p>
          Le niveau « Platine » est limité à 8 soutiens.
        </p>
        <p>
          Chaque soutien « Platine » nous permet d’avoir un·e interprète LSF dans une salle de conférences
          pendant une journée.
        </p>
        <p>
          L’interprétation en LSF permet aux auditeurs et auditrices sourdes et malentendantes de suivre les
          conférences dans de meilleures conditions.
        </p>
      </section>

      <p><strong>Les contreparties sont effectives dès réception du règlement.</strong></p>

    </section>
  </article>
{% endblock content %}
