{% extends '_layout.jinja2' %}

{% block content %}
<article class="speaker">

    <h2>{{ item.metadata.title }}</h2>
    <h3>De {{ item.metadata.start_time | format_time }} à {{ item.metadata.end_time | format_time }} dans la track {{ item.metadata.track }} </h3>
    <section>
      {{ item.content | markdown | safe }}

      <h3>Speakers</h3>
      <div>
          {% for speaker in speakers %}
          <a href="{{ url_for('speakers_details', lang=lang, slug=speaker.metadata.slug) }}"> {{ speaker.metadata.name }} </a>
          {% endfor %}
      </div>
    </section>
</article>
  {% endblock content %}
