{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Le lieu</h2>
    <section>
      <h3>Adresse</h3>
      <p>
        PyConFR 2024 est hébergée
        par TODO
      </p>
      <address>
        TODO
      </address>
      <p>
        Coordonnées GPS : <a href="https://framacarte.org/fr/map/pyconfr-2024_182286">TODO</a>
      </p>

      {% with label="Voir la carte en plein ecran" %}
        {% include 'fr/fragments/map_fullscreen.jinja2.html'  %}
      {% endwith %}

    </section>

    <section>
      <h3>Rejoindre le campus</h3>

      <section>
        <h4>En voiture</h4>
        <p>
            TODO
        </p>
      </section>

      <section>
        <h4>En transport en commun</h4>
        <p>
          L’université est accessible en transport en commun :
        </p>
        <ul>
          <li>
            En metro: TODO
          </li>
          <li>
            En bus: TODO
          </li>
        </ul>
      </section>

      <section>
        <h4>Depuis la gare (environ 20 minutes)</h4>
        <p>
    TODO
          </p>
      </section>
    </section>

    <section>
      <h3>Conseils pour le logement</h3>
      <p>
        Essayez d’être au plus proche de TODO
      </p>
      <ul>
        <li><a href="TODO">TODO (~70€ la nuit)</a> — 5 minutes de marche</li>
      </ul>
    </section>
  </article>
{% endblock content %}
