{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Le lieu</h2>
    <section>
      <h3>Adresse</h3>
      <p>
        PyConFr 2024 est hébergée
        par l’<a href="https://mathinfo.unistra.fr/">UFR Mathématique et Informatique</a>.
      </p>
      <address>
        UFR Mathématique et Informatique
        7 rue René Descartes
        Strasbourg
      </address>
      <p>
        Coordonnées GPS : <a href="https://www.openstreetmap.org/#map=18/48.57981/7.76302">48.5798 7.7630</a>
      </p>
      {{ map('Voir en plein écran') }}
    </section>

    <section>
      <h3>Rejoindre le campus</h3>

      <section>
        <h4>En voiture</h4>
        <p>
          Vestibulum convallis, lorem a tempus semper, dui dui euismod
          elit, vitae placerat urna tortor vitae lacus.

          Sed diam.  Curabitur vulputate vestibulum lorem.  Aliquam
          erat volutpat.  Nunc eleifend leo vitae magna.  In id erat
          non orci commodo lobortis.  Proin neque massa, cursus ut,
          gravida ut, lobortis eget, lacus.  Sed diam.  Praesent
          fermentum tempor tellus.  Nullam tempus.
        </p>
        <p>Donec pretium posuere tellus.</p>
      </section>

      <section>
        <h4>Depuis le centre (environ 30 minutes)</h4>
        <p>
          Aliquam erat volutpat.  Nunc eleifend leo vitae magna.  In
          id erat non orci commodo lobortis.  Proin neque massa,
          cursus ut, gravida ut, lobortis eget, lacus.  Sed diam.
          Praesent fermentum tempor tellus.
        </p>
      </section>

      <section>
        <h4>Depuis la gare (environ 25 minutes)</h4>
        <ul>
          <li>Proin quam nisl, tincidunt et, mattis eget, convallis nec, purus.</li>
          <li>Cum sociis natoque penatibus et magnis dis <em>parturient</em> montes, nascetur ridiculus mus.</li>
          <li>Etiam vel neque nec dui <em>dignissim</em> bibendum.</li>
          <li>Proin neque massa, cursus ut, gravida ut, lobortis eget, lacus.</li>
        </ul>
      </section>

      <section>
        <h4>Depuis l’aéroport (environ 1 heure ± 15 minutes)</h4>
        <p>
          Proin neque massa, cursus ut, gravida ut, lobortis eget, lacus.  Praesent augue,
        </p>
        <ul>
          <li>Nullam eu ante vel est convallis dignissim.  Fusce
          suscipit, wisi nec facilisis facilisis, est dui fermentum
          leo, quis tempor ligula erat quis odio.  Nunc porta
          vulputate tellus.  Nunc rutrum turpis sed pede.  Sed
          bibendum.  Aliquam posuere.  Nunc aliquet, augue nec
          adipiscing interdum, lacus tellus malesuada massa, quis
          varius mi purus non odio.
          </li><li> Nullam eu ante vel est convallis dignissim.  Fusce
suscipit, wisi nec facilisis facilisis, est dui fermentum leo, quis
tempor ligula erat quis odio.  Nunc porta vulputate tellus.  Nunc
rutrum turpis sed pede.  Sed bibendum.  Aliquam posuere.  Nunc
aliquet, augue nec adipiscing interdum, lacus tellus malesuada massa,
quis varius mi purus non odio.
          </li>
        </ul>
      </section>

      <section>
        <h4>En vélo libre service</h4>
        <p>
          Nullam eu ante vel est convallis dignissim.  Fusce suscipit,
          wisi nec facilisis facilisis, est dui fermentum leo, quis
          tempor ligula erat quis odio.  Nunc porta vulputate tellus.
        </p>
      </section>
    </section>

    <section>
      <h3>Conseils pour le logement</h3>
      <section>
        <h4>Dans Strasbourg</h4>
        <p>
          Aliquam erat volutpat.  Nunc eleifend leo vitae magna.  In
          id erat non orci commodo lobortis.  Proin neque massa,
          cursus ut, gravida ut, lobortis eget, lacus.  Sed diam.
          Praesent fermentum tempor tellus.  Nullam tempus.  Mauris ac
          felis vel velit tristique imperdiet.  Donec at pede.  Etiam
          vel neque nec dui dignissim bibendum.
        </p>
      </section>
      <section>
        <h4>Sur le campus</h4>
        <p>
          Sed bibendum.
        </p>
        <ul>
          <li>Nam vestibulum accumsan nisl.</li>
          <li>Mauris mollis tincidunt felis.</li>
          <li>In id erat non orci commodo lobortis.</li>
        </ul>
      </section>
    </section>
  </article>
{% endblock content %}
