{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Le lieu</h2>
    <section>
      <h3>Adresse</h3>
      <p>
        PyConFr 2024 est hébergée
        par l’<a href="https://mathinfo.unistra.fr/">UFR Mathématique et Informatique</a>.
      </p>
      <address>
        UFR Mathématique et Informatique
        7 rue René Descartes
        67000 Strasbourg
      </address>
      <p>
        Coordonnées GPS : <a href="https://framacarte.org/fr/map/pyconfr-2024_182286">48.579848 7.7609694</a>
      </p>
      {{ map('Voir en plein écran') }}
    </section>

    <section>
      <h3>Rejoindre le campus</h3>

      <section>
        <h4>En voiture</h4>
        <p>
          À l’approche de Strasbourg prendre la direction de Kehl en
          contournant le centre par le sud (quartier Neudorf) et en empruntant
          la porte des Schirmeck (Sortie 4 de la A35).
        </p>
        <p>
          Vous venez en voiture, il vous reste de la place ? Pensez au
          covoiturage :).
        </p>
      </section>

      <section>
        <h4>En transport en commun</h4>
        <p>
          L’université est accessible en transport en commun :
        </p>
        <ul>
          <li>
            En tram : arrêt Université sur les lignes C, E et F,
          </li>
          <li>
            En tram : arrêt Esplanade sur les lignes C et F,
          </li>
          <li>
            En bus : arrêt Cité administrative sur les lignes 30 et C1.
          </li>
        </ul>
      </section>

      <section>
        <h4>Depuis la gare (environ 12 minutes)</h4>
        <p>
          Depuis la Gare Centrale de Strasbourg, il est possible de prendre
          le tram C jusqu’à l’arrêt Université.
        </p>
      </section>

      <section>
        <h4>Depuis l’aéroport (environ 8 minutes)</h4>
        <p>
          L’aéroport de Strasbourg est situé à Entzheim. Un train TER
          vous permet de rejoindre la gare centrale en 8 minutes jusqu’à 5 fois
          par heure.
        </p>
      </section>

      <section>
        <h4>En vélo libre service</h4>
        <p>
          Vous pouvez également vous rendre sur le campus en
          <a href="https://velhop.strasbourg.eu/">vélo libre service (vélhop)</a>.
          La station à proximité de l’université est Université.
        </p>
      </section>
    </section>

    <!--
    <section>
      <h3>Conseils pour le logement</h3>
      <section>
        <h4>Dans Strasbourg</h4>
        <p>
          Aliquam erat volutpat.  Nunc eleifend leo vitae magna.  In
          id erat non orci commodo lobortis.  Proin neque massa,
          cursus ut, gravida ut, lobortis eget, lacus.  Sed diam.
          Praesent fermentum tempor tellus.  Nullam tempus.  Mauris ac
          felis vel velit tristique imperdiet.  Donec at pede.  Etiam
          vel neque nec dui dignissim bibendum.
        </p>
      </section>
      <section>
        <h4>Sur le campus</h4>
        <p>
          Sed bibendum.
        </p>
        <ul>
          <li>Nam vestibulum accumsan nisl.</li>
          <li>Mauris mollis tincidunt felis.</li>
          <li>In id erat non orci commodo lobortis.</li>
        </ul>
      </section>
    </section>
    -->
  </article>
{% endblock content %}
