{%- set MENU = (
  ('index', ('À propos', 'About')),
  ('venue', ('Venir', 'Venue')),
  ('sponsors_listing', ('Sponsors', 'Sponsors')),
  ('conduct', ('Code de conduite', 'Code of Conduct')),
) -%}
{%- set TITLES = dict(MENU + (

)) -%}

{%- set title = title or dict(TITLES).get(page_name, ['', ''])[1 if lang == 'en' else 0] -%}

<!DOCTYPE html>

<html lang="{{ lang }}">
  <head>
    {% block head %}
    <title>{{ title }} - Data Days 2026</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/favicon.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') | version }}"
    />
    <script>
      /* Stupid hack for iOS :hover */ document.addEventListener(
        "touchstart",
        function () {},
        true
      );
    </script>

    <meta
      name="description"
      content="Data Days 2025, la conférence d'une journée dédiée à la data et à l'IA, avec des conférences, des quick talks, des ateliers et des stands de sponsors pour découvrir les dernières innovations du secteur."
    />
    <meta name="author" content="Data Lille" />
    <meta name="keywords" content="data, IA, intelligence artificielle, machine learning, conférence, Lille, France" />
    <meta property="og:title" content="{{ title }} - Data Days 2026" />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://days.data-lille.fr{{ url_for('static', filename='images/favicon.png') }}"
    />
    {% endblock head %}
  </head>

  <body id="{{ page_name }}">
    {% block header %}
    <nav>
      <div class="logo">
        <a href="/">
          <img src="/2026/static/images/data_days_banner.png"></img>
        </a>
      </div>
      <div class="menu-overlay" id="menu-overlay">
        <ul class="menu">
        {% for endpoint, (title_fr, title_en) in MENU %}
          <li class="{{ 'active' if page_name == endpoint }}">
            <a
              href="{{ url_for(endpoint, lang=lang) }}"
              >{{ title_en if lang == 'en' else title_fr }}</a
            >
          </li>
        {% endfor %}
        </ul>
      </div>

      <div class="wrapper-right">
        <!-- 
        <a class="button disabled" href="https://www.helloasso.com/associations/data-lille/evenements/inscription-data-days-2026">S'inscrire</a>
        -->
        <div class="menu-toggle" id="menu-toggle">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>

    </nav>
    {% endblock header %}

    <main>{% block content %}{% endblock content %}</main>

    {% block footer %}
    <footer>
      <ul>
        <li><a href="mailto:meetup.data.lille@gmail.com">Email</a></li>
        <li>
          <a href="https://github.com/data-lille/data-days-2025">GitHub</a>
          forké depuis
          <a href="https://github.com/AFPy/pyconfr-2024">PyconFr</a>
        </li>
        <li><a href="https://frozen-flask.readthedocs.io/">Frozen-Flask</a></li>
        <li><a href="https://data-lille.fr/">© 2026 Data Lille</a></li>
      </ul>
    </footer>
    {% endblock footer %}
  </body>

  <script>
const menuToggle = document.getElementById('menu-toggle');
const menuOverlay = document.getElementById('menu-overlay');

menuToggle.addEventListener('click', function(event) {
  this.classList.toggle('active');
  menuOverlay.classList.toggle('active');
  if (menuOverlay.classList.contains('active')) {
    document.body.style.overflow = 'hidden'; // Empêche le défilement
  } else {
    document.body.style.overflow = ''; // Réinitialise le défilement
  }

  event.stopPropagation(); // Empêche la propagation du clic pour qu'il ne ferme pas immédiatement le menu
});

document.addEventListener('click', function(event) {
    menuToggle.classList.remove('active');
    menuOverlay.classList.remove('active');
    document.body.style.overflow = ''; // Réinitialise le défilement
});
  </script>
</html>
