{%- set MENU = (
  ('index', ('À propos', 'About')),
  ('schedule', ('Programme', 'Schedule')),
  ('venue', ('Venir', 'Venue')),
  ('speakers_listing', ('Speakers', 'Speakers')),
  ('sponsors_listing', ('Sponsors', 'Sponsors')),
  ('news_listing', ('Actualités', 'News')),
  ('conduct', ('Code de conduite', 'Code of conduct')),
  ('support', ('Nous soutenir', 'Support Us')),
) -%}
{%- set TITLES = dict(MENU + (

)) -%}

{%- set title = title or dict(TITLES).get(page_name, ['', ''])[1 if lang == 'en' else 0] -%}

<!DOCTYPE html>

<html lang="{{ lang }}">
  <head>
    {% block head %}
      <title>{{ title }} - Data Days 2025</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') | version }}">
      <script>/* Stupid hack for iOS :hover */ document.addEventListener("touchstart", function(){}, true);</script>
    {% endblock head %}
  </head>

  <body id="{{ page_name }}">

    {% block header %}
      <nav>
        <ul id="pages">
          {% for endpoint, (title_fr, title_en) in MENU %}
            <li class="{{ 'active' if page_name == endpoint }}">
              <a href="{{ url_for(endpoint, lang=lang) }}">{{ title_en if lang == 'en' else title_fr }}</a>
            </li>
          {% endfor %}
        </ul>
        <a class="button" href="{{ url_for('schedule', lang=lang, _anchor='register') }}">{{ 'S’inscrire' if lang == 'fr' else 'Register' }}</a>
      </nav>
    {% endblock header %}

    <main>
      {% block content %}{% endblock content %}
    </main>

    {% block footer %}
      <footer>
        <ul>
          <li><a href="mailto:meetup.data.lille@gmail.com">Email</a></li>
          <li><a href="https://github.com/data-lille/data-days-2025">GitHub</a> forké depuis <a href="https://github.com/AFPy/pyconfr-2024">PyconFr</a></li>
          <li><a href="https://frozen-flask.readthedocs.io/">Frozen-Flask</a></li>
          <li><a href="https://data-lille.fr/">© 2025 Data Lille</a></li>
        </ul>
      </footer>
    {% endblock footer %}
  </body>
</html>
