{% macro description(company, lang) %}
  <div class="description">

    {% if lang == 'fr' %}
      {% if company == 'Université de Strasbourg' %}
        <p>
          L'UFR de Mathématique et d'Informatique est l'héritière
          d'une longue présence des mathématiques au sein du monde
          universitaire à Strasbourg. Depuis l'essor des sciences de
          l'information, l'informatique a trouvé sa place à l'UFR qui
          est naturellement organisée en deux départements
          d'enseignement : le département de mathématiques et le
          département d'informatique.
        </p>
        <p>
          L’UFR de Mathématique et d’Informatique de l’Université de
          Strasbourg accueille plus de 2000 étudiants et compte 165
          enseignants-chercheurs, enseignants et doctorants. Elle
          compte plus d’une trentaine de personnels administratifs qui
          assurent le fonctionnement des services administratifs et
          techniques.
        </p>
        <p>
          L'UFR offre un ensemble de formations dans les différentes
          thématiques liées aux mathématiques et à l’informatique. La
          particularité des formations universitaires est leur
          proximité avec la recherche scientifique. En effet, les
          enseignants-chercheurs de l'UFR sont tous rattachés à une
          unité de recherche, soit l'Institut de Recherche
          Mathématique Avancée (IRMA), pour les mathématiciens et le
          Laboratoire des sciences de l'ingénieur, de l'informatique
          et de l'imagerie (ICube) pour les informaticiens. Ces deux
          unités représentent un très large spectre en recherche
          scientifique en mathématiques et en informatique
          respectivement. La recherche scientifique y est représenté
          tant par sa face théorique que par sa face appliquée.
        </p>
     {% elif company == 'Entr\'ouvert' %}
        <p>
          Entr'ouvert est une société coopérative attachée à la démocratie
          d'entreprise.  Les salariés possèdent l'entreprise à parts égales, les
          décisions sont prises selon le principe « une personne = une
          voix ». Nous privilégions un fonctionnement organique, proche de celui
          qu'on retrouve dans les communautés du Logiciel Libre. Il s'agit d'un
          mode d'organisation confortable pour nous mais surtout efficace pour
          produire du logiciel libre.
        </p>
        <p>
          Entr'ouvert a une forte connaissance du Logiciel Libre, de ses
          communautés, ses principes, ses habitudes. Préserver et promouvoir
          l'écosystème du Logiciel Libre fait partie des objectifs de la
          structure.
        </p>
        <p>
          Entr'ouvert est éditeur d'une solution libre (GNU GPL) de Gestion de la
          Relation Usager, nommée Publik. Elle est utilisée par de très
          nombreuses villes et agglomérations, en France et en Belgique. Cette
          solution est développée en Python, sur le cadriciel Django ; outils
          quasi exclusifs dès qu'il faut développer quelque chose à Entr'ouvert.
        </p>
      {% elif company == "Yaal Coop" %}
        <p>
        Yaal Coop est une société coopérative d'intérêt collectif (SCIC)
        spécialisée dans le conseil, le développement et l'hébergement de services informatiques.
        La coopérative est située à Bordeaux et est composée de 5 associé·e·s salarié·e·s.
        Python est le langage de prédilection utilisé pour le développement de service web, scripts, logiciels libres et la plupart des projets de la coopérative.
        </p>
      {% endif %}
    {% elif lang == 'en' %}
      {% if company == 'Université de Strasbourg' %}
        <p>
          The UFR de Mathématique et d'Informatique is the heir to a
          long tradition of mathematics in Strasbourg's academic
          world. Since the rise of the information sciences, computer
          science has found its place in the UFR, which is naturally
          organized into two teaching departments: the Mathematics
          Department and the Computer Science Department.
        </p>
        <p>
          The UFR de Mathématique et d'Informatique de l'Université de
          Strasbourg is home to over 2,000 students and 165 lecturers,
          professors and doctoral students. It also employs over
          thirty administrative staff to run the administrative and
          technical services.
        </p>
        <p>
          The UFR offers a wide range of courses in mathematics and
          computer science. The distinctive feature of university
          courses is their proximity to scientific research. Indeed,
          the UFR's teacher-researchers are all attached to a research
          unit, namely the Institut de Recherche Mathématique Avancée
          (IRMA), for mathematicians, and the Laboratoire des Sciences
          de l'Ingénieur, de l'Informatique et de l'Imagerie (ICube)
          for computer scientists. These two units represent a very
          broad spectrum of scientific research in mathematics and
          computer science respectively. Both the theoretical and
          applied sides of scientific research are represented.
        </p>
      {% elif company == 'Entr\'ouvert' %}
        <p>
          Entr'ouvert is a cooperative company attached to the principle of
          company democracy. Employees own the company in equal shares, decisions
          are taken based on the "1 vote per employee" principle. We privilege an
          organic operating mode, close to the one we find in a number of free
          software communities. This is an operating mode that is comfortable to
          us and overall efficient to produce free software.
        </p>
        <p>
          Entr'ouvert has a thorough knowledge of free software communities and
          their operating mode. Preserving and promoting the free software
          ecosystem is part of the structure purposes.
        </p>
        <p>
          Entr'ouvert is the publisher of a free (GNU GPL) Citizen-state
          Relationship Management, named Publik. It is used by many cities, in
          France and Belgium.  This solution is developed in Python, with the
          Django framework. At Entr'ouvert, Python and Django are the preferred
          tools when something needs to be written, be it a big software or a
          little script.
        </p>
      {% elif company == "Yaal Coop" %}
        <p>
          Yaal Coop is a cooperative specialized in consulting, development and services hosting.
          The company is located in Bordeaux and has 5 salaried partners.
          Python is our favorite language to write web services, scripts, free software and almost every cooperative projects.
        </p>
      {% endif %}
    {% endif %}
  </div>
{% endmacro %}

{% macro sponsors(lang, only_logo=False) %}
  {% set levels = {
      'Platine' if lang == 'fr' else 'Platinum': {
          'Université de Strasbourg': 'https://mathinfo.unistra.fr/',
      },

          'Or' if lang == 'fr' else 'Gold': {
      },

          'Argent' if lang == 'fr' else 'Silver': {
          'Entr\'ouvert': 'http://www.entrouvert.com/',
      },

          'Bronze': {
          'Yaal Coop': 'https://yaal.coop/',
      },

          'Cœur' if lang == 'fr' else 'Heart': {
      },

          'Partenaires' if lang == 'fr' else 'Partners':
          {
          },
      } %}

  {% set png_logos = ('Université de Strasbourg',) %}


  {% if lang == 'fr' %}
    <p>
      <a href="{{ url_for('page', name='support', lang=lang)}}">Devenez sponsor</a> et
      offrez à votre entreprise une plus grande visibilité lors de cet événement.
    </p>
  {% else %}
    <p>
      <a href="{{ url_for('page', name='support', lang=lang)}}">Become sponsor</a> to
      offer a wider visibility to your enterprise during this event.
    </p>
  {% endif %}

  {% for level, companies in levels.items() %}
    {% if companies %}
      <section class="sponsors">
        <h3>{{ level }}</h3>
        {% for company, link in companies.items() %}
            {% if not only_logo and level not in ('Heart', 'Partners', 'Cœur', 'Partenaires') %}
              <div class="sponsor">
                <h4>{{ company }}</h4>
            {% endif %}
            {% if link %}
              <a href="{{ link }}" class="logo">
            {%- endif -%}
              <img src="{{ url_for('static', filename='images/partners/{}.{}'.format(company.replace('/', '-'), 'png' if company in png_logos else 'svg')) }}" alt="Logo {{ company }}" />
            {%- if link -%}
              </a>
            {% endif %}
            {% if not only_logo and level not in ('Heart', 'Partners', 'Cœur', 'Partenaires') %}
                {{ description(company, lang) }}
              </div>
            {% endif %}
        {% endfor %}
      {% endif %}
    </section>
  {% endfor %}
{% endmacro %}
