{% macro brochures() %}
  <ul class="brochures">
    <li><a class="button" href="{{ url_for('static', filename='brochures/brochure.pdf') }}">Brochure de sponsoring (FR)</a></li>
    <li><a class="button" href="{{ url_for('static', filename='brochures/brochure_en.pdf') }}">Sponsoring brochure (EN)</a></li>
  </ul>
{% endmacro %}

{% macro description(company, lang) %}
  <div class="description">

    {% if lang == 'fr' %}
      {% if company == 'Université de Strasbourg' %}
        <p>
          L'UFR de Mathématique et d'Informatique est l'héritière
          d'une longue présence des mathématiques au sein du monde
          universitaire à Strasbourg. Depuis l'essor des sciences de
          l'information, l'informatique a trouvé sa place à l'UFR qui
          est naturellement organisée en deux départements
          d'enseignement : le département de mathématiques et le
          département d'informatique.
        </p>
        <p>
          L’UFR de Mathématique et d’Informatique de l’Université de
          Strasbourg accueille plus de 2000 étudiants et compte 165
          enseignants-chercheurs, enseignants et doctorants. Elle
          compte plus d’une trentaine de personnels administratifs qui
          assurent le fonctionnement des services administratifs et
          techniques.
        </p>
        <p>
          L'UFR offre un ensemble de formations dans les différentes
          thématiques liées aux mathématiques et à l’informatique. La
          particularité des formations universitaires est leur
          proximité avec la recherche scientifique. En effet, les
          enseignants-chercheurs de l'UFR sont tous rattachés à une
          unité de recherche, soit l'Institut de Recherche
          Mathématique Avancée (IRMA), pour les mathématiciens et le
          Laboratoire des sciences de l'ingénieur, de l'informatique
          et de l'imagerie (ICube) pour les informaticiens. Ces deux
          unités représentent un très large spectre en recherche
          scientifique en mathématiques et en informatique
          respectivement. La recherche scientifique y est représenté
          tant par sa face théorique que par sa face appliquée.
        </p>
      {% elif company == "Camptocamp" %}
        <p>
          Camptocamp est une société de services active en Suisse en France et en Allemagne fondée en 2001. Nous proposons des solutions Open Source innovantes pour la mise en œuvre de systèmes d'information géographique (SIG), de logiciels de gestion intégrés pour les PME (ERP Odoo) et de gestion des infrastructures informatiques.
        </p>
        <p>
        Nos services comprennent du conseil, de l'implémentation, de la formation et de la maintenance. En outre, nous mettons à votre disposition notre expertise pour l'achat et le renouvellement de vos abonnements de diverses solutions d'entreprise comme le portefeuille Red Hat ou Suse.
        </p>
     {% elif company == 'Entr\'ouvert' %}
        <p>
          Entr'ouvert est une société coopérative attachée à la démocratie
          d'entreprise.  Les salariés possèdent l'entreprise à parts égales, les
          décisions sont prises selon le principe « une personne = une
          voix ». Nous privilégions un fonctionnement organique, proche de celui
          qu'on retrouve dans les communautés du Logiciel Libre. Il s'agit d'un
          mode d'organisation confortable pour nous mais surtout efficace pour
          produire du logiciel libre.
        </p>
        <p>
          Entr'ouvert a une forte connaissance du Logiciel Libre, de ses
          communautés, ses principes, ses habitudes. Préserver et promouvoir
          l'écosystème du Logiciel Libre fait partie des objectifs de la
          structure.
        </p>
        <p>
          Entr'ouvert est éditeur d'une solution libre (GNU GPL) de Gestion de la
          Relation Usager, nommée Publik. Elle est utilisée par de très
          nombreuses villes et agglomérations, en France et en Belgique. Cette
          solution est développée en Python, sur le cadriciel Django ; outils
          quasi exclusifs dès qu'il faut développer quelque chose à Entr'ouvert.
        </p>
      {% elif company == 'Gandi' %}
      <p>
        Créé en mars 2000, Gandi opère sur 3 continents, avec plus de 140
        salariés répartis entre Paris, Luxembourg, Munich, San Francisco et
        Taipei.
      </p>
      <p>
        Gandi est devenu en 20 ans l'un des plus gros vendeurs de noms de
        domaine dans le monde, avec plus de 2,5 millions de noms en gestion
        active en 2019 et un catalogue de plus de 750 extensions.
      </p>
      <p>
        Gandi fournit aussi bien les particuliers qui souhaitent personnaliser
        et professionnaliser leur présence sur Internet que les petites
        entreprises, les grands comptes et les institutionnels.
      </p>
      <p>
        La société est également autorité intermédiaire de certification SSL,
        gérant plus de 55 000 certificats.
      </p>
      <p>
        Gandi s'impose enfin depuis 2008 en hébergement Cloud grand
        public. Plus de 200 000 sites et services y sont aujourd’hui hébergés,
        répartis entre offre Simple Hosting en PaaS ( PMEs et particuliers), et
        offre IaaS (experts qui souhaitent maîtriser leur infrastructure). Ces
        offres professionnelles allient la puissance de ressources dédiées, une
        grande flexibilité quant au dimensionnement des serveurs et une
        sécurité optimale des données.
      </p>
      {% elif company == "Yaal Coop" %}
        <p>
        Yaal Coop est une société coopérative d'intérêt collectif (SCIC)
        spécialisée dans le conseil, le développement et l'hébergement de services informatiques.
        La coopérative est située à Bordeaux et est composée de 5 associé·e·s salarié·e·s.
        Python est le langage de prédilection utilisé pour le développement de service web,
        scripts, logiciels libres et la plupart des projets de la coopérative.
        </p>
      {% elif company == "Tempo Consulting" %}
        <p>
        TeMPO Consulting est une société de services en informatique, basée à Strasbourg, active sur tout le territoire française et également en Suisse.<br/>
Nos solutions informatiques sont bâties à partir de composants Open Source ouverts et innovants garants de la pérennité des Systèmes d’Information.<br/>
Le Python est notre langage de prédilection que nous utilisons dans la mise en place  d’applications de gestion d’entreprise réalisées à partir du logiciel Odoo ainsi qu’aux développements Web réalisés sous Django.<br/>
Nos services couvrent tout le spectre d’une mise en place d’une solution informatique, partant de l’analyse des besoins, au conseil, l'implémentation, la formation et la maintenance.<br/>
En complément, nous proposons notre expertise pour la mise en place de deux solutions d’entreprise à partir des composants RedHat et NoMachine.
        </p>
      {% elif company == "Alma" %}
        <p>Alma est une retailtech et fintech fondée en 2018. Nous proposons des solutions de paiement flexibles pour les boutiques physiques et en ligne,
        avec le paiement en 2, 3 ou 4 fois et en différé. Notre solution de paiement s’applique également aux particuliers avec l’app et la carte Alma.
        Nous priorisons l’expérience et la satisfaction de nos clients avec des outils simples et agréables à utiliser.
        Présents dans une dizaine de pays européens, nous travaillons avec plus de 7500 grandes marques comme Sncf,
        Maisons du Monde, Nature & Découvertes, Etam, Printemps, Afflelou, Emma, Perfectstay…</p>
      {% elif company == "EuroPython Society" %}
        <p>
          La Société EuroPython (EPS) est une organisation suédoise à
          but non lucratif qui organise les conférences EuroPython,
          soutient la communauté Python en Europe et détient les
          droits sur la série de conférences EuroPython et les marques
          déposées.
        </p>
        <p>
          L'EPS a été créée en 2004, avec pour mission de faire de
          l'EuroPython une série de conférences Python à succès pour
          les années à venir. En 2016, nous avons étendu notre mission
          à la promotion de l'utilisation du langage de programmation
          Python en Europe et à l'organisation d'événements centrés
          sur le langage de programmation Python pour y parvenir.
        </p>
      {% endif %}
    {% elif lang == 'en' %}
      {% if company == 'Université de Strasbourg' %}
        <p>
          The UFR de Mathématique et d'Informatique is the heir to a
          long tradition of mathematics in Strasbourg's academic
          world. Since the rise of the information sciences, computer
          science has found its place in the UFR, which is naturally
          organized into two teaching departments: the Mathematics
          Department and the Computer Science Department.
        </p>
        <p>
          The UFR de Mathématique et d'Informatique de l'Université de
          Strasbourg is home to over 2,000 students and 165 lecturers,
          professors and doctoral students. It also employs over
          thirty administrative staff to run the administrative and
          technical services.
        </p>
        <p>
          The UFR offers a wide range of courses in mathematics and
          computer science. The distinctive feature of university
          courses is their proximity to scientific research. Indeed,
          the UFR's teacher-researchers are all attached to a research
          unit, namely the Institut de Recherche Mathématique Avancée
          (IRMA), for mathematicians, and the Laboratoire des Sciences
          de l'Ingénieur, de l'Informatique et de l'Imagerie (ICube)
          for computer scientists. These two units represent a very
          broad spectrum of scientific research in mathematics and
          computer science respectively. Both the theoretical and
          applied sides of scientific research are represented.
        </p>
      {% elif company == "Alma" %}
      <p>Alma is a fintech founded in 2018. We offer flexible payment solutions for physical and online stores, with deferred payment and 2, 3, or 4 installments. We also help consumers stay in control of their budget with the Alma app and card. We prioritize the experience and satisfaction of our customers with simple and pleasant to use tools. We operate in ten European countries and work with more than 7500 major brands such as Maisons du Monde, Nature et Découvertes, Etam, Le Slip Français, Jacquemus, Maje…</p>
      {% elif company == "Camptocamp" %}
        <p>
        Camptocamp is a Swiss service company founded in 2001 in the field of Open Source software with great expertise in the areas of Enterprise Resource Planning software (ERP), IT Management Systems and Geographic Information Systems (GIS). Our services include consulting, implementation, training, maintenance, support and R&D. In addition, Camptocamp has sophisticated competencies in consulting and sales of subscriptions for enterprise solutions in the Open Source environment, such as the Red Hat or Suse portfolio.
        </p>
      {% elif company == 'Entr\'ouvert' %}
        <p>
          Entr'ouvert is a cooperative company attached to the principle of
          company democracy. Employees own the company in equal shares, decisions
          are taken based on the "1 vote per employee" principle. We privilege an
          organic operating mode, close to the one we find in a number of free
          software communities. This is an operating mode that is comfortable to
          us and overall efficient to produce free software.
        </p>
        <p>
          Entr'ouvert has a thorough knowledge of free software communities and
          their operating mode. Preserving and promoting the free software
          ecosystem is part of the structure purposes.
        </p>
        <p>
          Entr'ouvert is the publisher of a free (GNU GPL) Citizen-state
          Relationship Management, named Publik. It is used by many cities, in
          France and Belgium.  This solution is developed in Python, with the
          Django framework. At Entr'ouvert, Python and Django are the preferred
          tools when something needs to be written, be it a big software or a
          little script.
        </p>
      {% elif company == 'Gandi' %}
      <p>
        Founded in 2000, Gandi operates across three continents with 140
        employees in offices in Paris, Luxemburg, Munich, San Francisco, and
        Taipei. Gandi has become in 20 years one of the biggest domain name
        vendors in the world, with 2.5 million active domain names in 2019 and
        more than 750 available domain extensions.
      </p>
      <p>
        Gandi provides its services to individuals, small businesses, and large
        accounts looking to personalize and professionalize their web presence.
      </p>
      <p>
        Company is also a top SSL certificate authority, managing more than
        55,000 certificates.
      </p>
      <p>
        Since 2008, Gandi has expanded beyond domain name registration into the
        general consumer Cloud hosting market. Currently more than 200,000
        sites and services are hosted, split between Simple Hosting (Paas
        service) - small and medium-sized businesses as well as individuals -
        and Iaas services - dedicated to experts who control their hosting
        infrastructure.
      </p>
      <p>
        These professional offerings combine the power of dedicated resources,
        great flexibility in server sizing and optimal data security.
      </p>
      {% elif company == "Yaal Coop" %}
        <p>
          Yaal Coop is a cooperative specialized in consulting, development and services hosting.
          The company is located in Bordeaux and has 5 salaried partners.
          Python is our favorite language to write web services, scripts, free software and almost every cooperative projects.
        </p>
      {% elif company == "Tempo Consulting" %}
        <p>
        TeMPO Consulting is an IT services company based in Strasbourg, active throughout France and also in Switzerland.
        Our IT solutions are built from open and innovative Open Source components that ensure the sustainability of Information Systems.
        Python is our preferred language, which we use in the implementation of enterprise management applications developed from the Odoo software as well as in Web developments carried out under Django.
        Our services cover the entire spectrum of implementing an IT solution, from needs analysis, to consulting, implementation, training, and maintenance.
        Additionally, we offer our expertise in the implementation of two enterprise solutions based on RedHat and NoMachine components.
        </p>
      {% elif company == "EuroPython Society" %}
        <p>
          The EuroPython Society (EPS) is a Swedish non-profit
          organization which organizes EuroPython conferences,
          supports the Python community in Europe and holds the rights
          to the EuroPython conference series and trademarks.
        </p>
        <p>
          The EPS was formed in 2004, with the mission to turn
          EuroPython into a successful Python conference series for
          the years to come. In 2016, we have extended our mission to
          further the use of the programming language Python in Europe
          and organize events centered around the programming language
          Python to support this.
        </p>
      {% endif %}
    {% endif %}
  </div>
{% endmacro %}

{% macro sponsors(lang, only_logo=False) %}
  {% set levels = {
      'Platine' if lang == 'fr' else 'Platinum': {
          'Université de Strasbourg': 'https://mathinfo.unistra.fr/',
          'EuroPython Society': 'https://www.europython-society.org/',
      },

          'Or' if lang == 'fr' else 'Gold': {
      },

          'Argent' if lang == 'fr' else 'Silver': {
          'Alma': 'https://almapay.com/',
          'Entr\'ouvert': 'http://www.entrouvert.com/',
      },

      'Bronze': {
          'Gandi': 'https://gandi.net/',
          'Camptocamp': 'https://www.camptocamp.org/',
          'Tempo Consulting': 'http://www.tempo-consulting.fr',
          'Yaal Coop': 'https://yaal.coop/',
      },

      'Cœur' if lang == 'fr' else 'Heart': {
      },

      'Partenaires' if lang == 'fr' else 'Partners':
      {
      },
  } %}

  {% set png_logos = ('Université de Strasbourg',) %}


  {% if lang == 'fr' %}
    <p>
      <a href="{{ url_for('page', name='support', lang=lang)}}">Devenez sponsor</a> et
      offrez à votre entreprise une plus grande visibilité lors de cet événement.
    </p>
  {% else %}
    <p>
      <a href="{{ url_for('page', name='support', lang=lang)}}">Become sponsor</a> to
      offer a wider visibility to your enterprise during this event.
    </p>
  {% endif %}

  {{ brochures() }}

  {% for level, companies in levels.items() %}
    {% if companies %}
      <section class="sponsors">
        <h3>{{ level }}</h3>
        {% for company, link in companies.items() %}
            {% if not only_logo and level not in ('Heart', 'Partners', 'Cœur', 'Partenaires') %}
              <div class="sponsor">
                <h4>{{ company }}</h4>
            {% endif %}
            {% if link %}
              <a href="{{ link }}" class="logo">
            {%- endif -%}
              <img src="{{ url_for('static', filename='images/partners/{}.{}'.format(company.replace('/', '-'), 'png' if company in png_logos else 'svg')) }}" alt="Logo {{ company }}" />
            {%- if link -%}
              </a>
            {% endif %}
            {% if not only_logo and level not in ('Heart', 'Partners', 'Cœur', 'Partenaires') %}
                {{ description(company, lang) }}
              </div>
            {% endif %}
        {% endfor %}
      {% endif %}
    </section>
  {% endfor %}
{% endmacro %}
